main{
  padding: 5%;
  color: #000;
  background-color: white;
  font-family: 'PT Sans', sans-serif; 
}

.msg {
  font-size: 3rem;
  word-spacing: .075rem;
  padding-left: 5%;
}
.error-msg{
  text-align: left;
}
.login-form-wrapper{
  font-family: 'Roboto', sans-serif; 
  font-size: 1rem;
  
  
}
.login-form{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
form label {
  font-size: 0.88rem;
  text-transform: uppercase;

}

#id_username, #id_password{
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  width: 250px;
}
#id_username{
  margin-top: 5rem;
}
#id_username:focus, #id_password:focus {
  outline: rgb(77, 200, 221) !important;
}

.help1{
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  padding: 0.25rem .5rem;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  background-color: #00a82d;
  border-radius: 2px;
  color: white;
  white-space: nowrap;
  transition: background-color 150ms ease-in-out;
}
.help1:hover{
  background-color: #10ca42;
}

.help-link{
  
  display: inline-block;
  text-decoration: none;
  color: #868e96;
  transition: color 100ms ease-in;
}
.help-link:hover{
  text-decoration: underline;
  color: #0c5ca2;
}
.ca-wrapper{
  color: #868e96;
}
.create{
  text-decoration: underline;
  margin-top: 3rem;
  color: #1c7ed6;;
  text-decoration-color: initial;
}
.help{
  margin: 1.5rem;
  display: block;
}
h2.msg{
  text-align: center;
}

.login-btn {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 5rem;
  width: 250px;
  padding: 1.2rem 3.75rem;
  cursor: pointer;
  background-color: #05386B;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 150ms ease-in-out;
}
.login-btn:hover{
  background-color: #4e95dc;
}

.copy-right{
  display: none;
}
input{
  margin: 0 auto;
}

    @media only screen and (min-width: 750px) and (max-width: 1250px){
      main{
        margin-top: 10%;
      }
      .login-form-wrapper{
        width: 90%;
        height: 40rem;
        margin: 0 auto;
      }
      h2.msg{
        text-align: left;
      }