*{
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
  
}

.account-profile-h2{
  font-family: 'Merriweather', serif;
  color: black;
  font-weight: bold;
  font-size: 1.4em;
  margin: 25px 15px;
}
