@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(27, 39, 49);
  color: #f7f7f7;
}
body > main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
main{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.text-wrap{
  display: block;
  padding: 1rem;
  text-align: center;
}

.text-title{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  margin: 2rem auto;
}
.text-msg{
  font-size: 1.2rem;
  line-height: 2rem;
}
.form-wrap{
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto 1rem;
  display:block;
  overflow: auto;
}
.bg-neon-container{
  color: black;
  width: 350px;
  background: #88ffd1;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 3px;
}
.fa-user-alt{
  font-size: 1.5rem;
}
.form-title{
  margin: 1rem auto 0;
  font-size: 1.2rem;
}
.field-wrap{
  
  margin: 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.register-btn{
  margin-top: 0.5rem;
  background-color: #00a82d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.25rem 5rem;
  border-radius: 4px;
  transition: background-color 150ms ease-in-out;
}
.register-btn:hover{
  background-color: #15bf43;
}
.already{
  font-size: 0.75rem;
  color: #fff;
  margin-right: 1rem;
}
.already:hover{
  text-decoration: none;
}

label{
  display: block;
  text-align: center;
  color: rgb(201, 201, 201);
  color: white;
  font-weight: 400;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}
label:last-of-type{
  margin-top: 1rem;
}

/* All input fields  */
form input {
  padding: 1rem;
  width: 320px;
  border-radius: 4px;
  border: none;
  
}

form input:focus{
  border: none !important;
  outline:  none !important;
  background-color: #e1e1e1;
}

.name-wrap{
  display: block;
  margin: 1rem auto 3rem;
}

.cc-container{
  margin-top: 1rem;
}
.no-cc-required{
  color: rgb(201, 201, 201);
  text-align: center;
  padding: 20px 5px 5px;
}

@media all and (min-width:750px){
  :root {
    font-size: 100%;
  }
  .split{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .field-wrap{
    padding: 1rem;
  }
}