@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(27, 39, 49);
  color: #f7f7f7;
}
body > main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.text-wrap{
  display: block;
  padding: 1rem;
  text-align: center;
}

.text-title{
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}
.text-msg{
  font-size: 1.2rem;
  line-height: 2rem;
}
.form-wrap{
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin: 2rem auto 1rem;
  display:block;
  width: 320px;
  height: 475px;
  overflow: auto;
}
.bg-neon-container{
  color: black;
  background: #88ffd1;
  
  margin: 0 auto;
  padding: 1rem;
}
.fa-user-alt{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.form-title{
  font-size: 1.2rem;
  
}

.field-wrap{
  margin: 2rem;
}
.register-btn{
  margin-top: 0.5rem;
  background-color: #00a82d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.25rem 5rem;
  border-radius: 4px;
  transition: background-color 150ms ease-in-out;
}
.register-btn:hover{
  background-color: #15bf43;
}
.already{
  font-size: 0.75rem;
  color: rgb(201, 201, 201);
  margin-right: 1rem;
}
.already:hover{
  color: #fff;
}

.form-label{
  font-size: 0.75rem;
  margin-bottom: 0.35rem;
}

/* All input fields  */
form input {
  padding: 1rem 3rem;
  width: auto;
  
}
#id_first_name, #id_last_name {
  margin: 0.2rem 0rem;

}

form input:focus{
  outline: none !important;
  border-width: 2px;
  border-color: rgba(77, 200, 221) !important;
  background-color: rgb(222, 222, 222);
}

.name-wrap{
  display: block;
  margin: 1rem auto 1rem auto;
}
.name-wrap input{
  padding: .75rem 1rem;
  
  margin: 0px 0.25rem;
  
}
.cc-container{
  margin-top: 1rem;
}
.no-cc-required{
  color: rgb(201, 201, 201);
  text-align: center;
  padding: 20px 5px 5px;
}

@media all and (min-width:750px){
  :root {
    font-size: 100%;
  }
}