:root{
  font-size: 62.5%;
}
body {
  font-family: Montserrat, Helvetica, sans-serif;
}
body main {
  position: relative;
  color: #222;
}

.art-banner-container1{
  position: relative;
  height: 35vh;
  background-color: #f5f5f5;
  max-width: 100%;
  padding: 1rem 2rem;
  
}
.type{
  font-weight: 600;
}
.head-title{
  width: 95%;
  font-size: 4rem;
  letter-spacing: -0.05rem;
  line-height: 4rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
.head-title:hover{
  opacity: .55;
}
.head-detail{
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.head-detail-date{
  text-decoration: underline;
}
.article-wrapper{
  padding-top: 5rem;
  text-align: unset;
}
.article-ol-container{
  list-style-position: inside;
  list-style-type: lower-roman;
  list-style: none;
}
.latest-entry-title{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  border-radius: 2px;
  background-color: rgb(21, 24, 28);
  color: #fff;
  display: inline-block;
  padding: .5rem 1.5rem;
}
.article-list {
  font-size: 1rem;
  border-bottom: 1px solid #bbb;
  text-transform: capitalize;
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
}
.article-list:first-of-type{
  padding-top: 10rem;
}

.article-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: .96px;
  text-decoration: none;
  color: inherit;
  transition: color 150ms ease-in-out;
}
.article-link:hover{
  color: #555;
}
.article-pub-date{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1rem;
  letter-spacing: .96px;
  color: #333;
}
.type, .head-detail{
  font-size: 1rem;
}
.entry-title{
  padding: 2rem;
  margin: 50px 4%;
}
@media only screen and (min-width: 750px){

}

      
    

