:root{
  font-size: 62.5%;
}
body {
  
  font-family: Helvetica, Arial, sans-serif;
  font-family: Montserrat, Helvetica, sans-serif;
  /* background-color: #44494d; */
}
body main {
  position: relative;
  background-color: rgb(21, 24, 28);
  color: white;
}

.img-header{
  position: absolute;
  bottom: 12.5%;
  left: 8%;
}
@media all and (max-width: 1150px){
  .bkg-img-container{
    display: none;
  }
}
.art-banner-container1{
  color: #fff;
  position: relative;
  background-color: hsl(189.1, 31.4%, 33.1%);
  height: 40vh;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.head-container{
  padding-left:3%;
  padding-bottom: 2.5%;
  position: absolute;
  bottom:0;
  left:0;
}
.type{
  font-weight: 600;
  /* line-height: 1.6rem; */
}
.head-title{
  font-size: 4rem;
  letter-spacing: -0.05rem;
  line-height: 4rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
.head-title:hover{
  opacity: .55;
}
.head-detail{
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.article-wrapper{
  padding-top: 5rem;
  text-align: unset;
  background-color: rgb(21, 24, 28);
  color: #c0c0c0;
}
.latest-entry-title{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  background-color: rgb(21, 24, 28);
}
.article-container-title, .latest-entry-title{
  color: #62c8d9;
  color: #fff;
}


.article-list {
  font-size: 1rem;
  border-bottom: 1px solid #575757;
  color: rgb(215, 0, 0);  
  text-transform: capitalize;
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
}
.article-list:first-of-type{
  padding-top: 10rem;
}

.article-link {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  color: #dadada;
  transition: color 150ms ease-in-out;
}
.article-link:hover{
  color: #fff;
}
.article-pub{
  font-size: 0.9rem;
  letter-spacing: .075rem;
}
    
.art-banner-container1{
  width: 100%;
  padding: 0% 5%;
}
.type, .head-detail{
  font-size: 1rem;
}
.entry-title{
  padding: 2rem;
  margin: 50px 4%;
}


      
    

