*{
  text-decoration: none;
  color: inherit;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
  /* cursor: default; */
}



.article-title-link{
  font-size: 1.4em;
  font-family: 'Crimson Text', serif;
  text-transform: capitalize;
  color: #05386B;  
}

.article-created{
  font-size: 12px;
  color: rgba(160, 160, 160, .6);
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
}