* {
  font-family: 'Crimson Text', serif; 
}
body {
  background-color: rgb(253, 250, 246);
  
}
main {
  padding: 15px;
  
}

.article-detail-title {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(0, 200, 255);
  text-align: center  ;
  /* font-family: 'Crimson Text', serif; */
}

.detail-article-body {
  /* font-size: 24px; */
  text-align: center;
  /* background-color: white; */
  /* color: black; */
  /* margin: 5% 15%; */
  
} 



.detail-pub-date, .detail-article-delete-button, .detail-article-edit-button { 
  color: grey;
  margin-left: 2px;
}



