*{
  text-decoration: none;
  color: inherit;
  font-family: 'Merriweather', serif;
  /* font-family: 'Crimson Text', serif; */
  padding: 0px;
  margin: 0px;
}

body{
  background-color: rgb(253, 250, 246);
  color: black;
}

.article-list-h2{
  font-family: 'Merriweather', serif;
  color: black;
  font-weight: bold;
  font-size: 1.4em;
  margin: 25px 15px;
}

.article-title-link{
  font-size: 1.3em;
  font-family: 'Crimson Text', serif;
  text-transform: capitalize;
  color: black;  
}
.pub-date{
  color: rgba(186, 186, 186, 1);
  
}
.order-list{
  margin-left: 20px;
  margin-top: 10px;
  list-style-position: inside;
  color: red;
  
  /* width: 25%; */
  
}


.article-create{
  color: #000000;
  
  border-bottom: 1px solid black;
  margin-left: 1px;
}

.article-created{
  font-size: 12px;
  color: rgba(160, 160, 160, .6);
  margin-left: 2px;
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
}