*{
  
  font-family: 'Crimson Text', serif;
}

main{
  padding: 15px;
}

#article-detail-title{
  margin-top: 20px;
  font-size: 1.7em;
  font-weight: bolder;
  color: rgb(112, 112, 112);
}

.detail-article-content{
  font-size: 17px;
  /* margin: 0 2.5%; */
}

.detail-pub-date, .detail-article-delete-button, .detail-article-edit-button{
  color: grey;
  margin-left: 2px;
}



