body{
  font-family: 'Inter', serif;
  color: #444;
}
.by{
  font-weight: 200;
}
.article-container{
  font-size: 1.4rem;
  background: white;
  margin-top: 10rem;
  padding: 3rem;
}

.article-detail-title {
  font-size: 1rem;
  font-weight: 500;
  color: #aaa;
}
.article-detail-body{
  font-size: 1.1rem;
  font-family: 'Crimson Text', serif;
  line-height: 1.6;
  width: 60ch;
}
.icon-container{
  text-align: right;
  padding-top: 1rem;
}
.icon{
  border: none;
  background-color: inherit;
}
.fa-pen-square, .fa-trash-alt{
  font-size: 3rem;
  border: none;
  cursor: pointer;
  opacity: .3;
}



@media all and (min-width: 750px){
  .article-container{
    padding-left: 25%;
    padding-right: 25%;
    min-height: 50vh;
  }
  .article-container > p {
    font-size: 1rem;
  }
  
}



