*{
  font-family: 'Crimson Text', serif;
}

#article-detail-title{
  margin-top: 20px;
  font-size: 1.7em;
  font-weight: bolder;
  color: rgb(112, 112, 112);
}

.detail-article-content{
  font-size: 24px;
  font-family: 'Crimson Text', serif;
  display: flex;
  text-align: center;
  margin-left: 20px;
  width: 75%;
}

.detail-pub-date, .detail-article-delete-button, .detail-article-edit-button{
  color: grey;
  margin-left: 2px;
}

