body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
body main {
  position: relative;
}
.art-banner-container1{
  position: relative;
  background-color: #6db0dd;
  height: 55vh;
  width: 100%;
}
.head-container{
  color: #fff;
  padding-left:7.5%;
  padding-bottom: 3.75%;
  position: absolute;
  bottom:0;
  left:0;
}
.type{
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.head-title{
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 4rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
.head-title:hover{
  opacity: 0.55;
}
.head-detail{
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.entry-title{
  font-size: 1.65rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  padding: 4rem;
}
.article-wrapper{
  padding-left: 35%;
  padding-top: 5rem;
}

.article-list {
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  padding-left: 0px;
  padding-right: 3.5rem;
  
  font-size: 1rem;
  border-bottom: 1px solid grey;
  color: rgb(215, 0, 0);  
  text-transform: capitalize;
  width: 55vw;
}

.article-link {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #525f6a; 
  
  transition: color 150ms ease-in-out;
}
.article-link:hover{
  color: #000;
}
@media all and (max-width: 750px) and (min-width: 285px){
  .article-link {
    font-size: 1.75rem;
    /* text-align: center; */
  }
  .entry-title{
    padding: 2rem;
  }
  .article-list {
    padding: 2rem;
    padding-left: 0px;
  }
  
}

