body, html{
  
}
body > main {
  font-family: 'Inter', serif;
  margin: 0rem 5%;
}
.article-container{
  font-size: 1.4rem;
  background: white;
  color: black;
  padding: 4em 1em;
  text-align: center;
  
}
.article-detail-title {
  font-size: 0.7em;
  font-weight: 600;
  color: rgba(114, 114, 114, 0.85);
  text-align: center;
}
.article-detail-body{
  font-size: 1rem;
  text-align: left;
}
.article-de
.icon-container{
  margin-top: 2vh;
  margin-left: 50%;
  margin-right: 50%;
}

.icon{
  border: none;
  background-color: inherit;
}
.fa-pen-square, .fa-trash-alt{
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

@media all and (min-width: 750px){
  
  .icon-container{
    position: absolute;
    left: 50%;
    right: 50%;

  }
  .fa-pen-square, .fa-trash-alt{
    font-size: 5rem;
  }
  .article-detail-body{
    font-size: .8rem;
    line-height: 1.6;
  }
}



