* {
  box-sizing: border-box;
}

body main{
  text-align: center;
}
label{
  display: block;
}
#id_title{
  font-size: 1.4rem;
  padding: 1em 2em;
  border: none;
  background-color: #e3e3e3;
  color: black;
  width: 50vw;
}
#id_title:focus{
  outline: none;
}
form{
  margin: 0 auto;
  display: inline-block;
  
}


.article-submit-button{
  padding: .5em 2em;
  border-radius: 4px;
  border: none;
}
.article-submit-button:hover{
  background-color: #c4c4c4;
}