* {
  box-sizing: border-box;
}

form{
  min-width: 100vw;
}

#id_title{
  font-size: 3.75rem;
  padding: .5rem 1rem;
  border: none;
  background-color: transparent;
  color: black;
  width: 50vw;
  margin: 1rem auto .5rem;
  display: block;
}
#id_title:focus{
  outline: none;
}
.django-ckeditor-widget, #cke_id_body{
  width: 100%;
}
#cke_1_top{
  opacity: .75;
}
#cke_1_top:hover{
  opacity: 1;
}
#cke_1_bottom{
  display: none;
}
.article-submit-btn{
  background-color: #eee;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 4rem;
  border-radius: 4px;
  border: none;
  
}
.article-submit-btn:hover{
  background-color: #e9e9e9;
  outline: none !important;
  box-shadow: none !important;
}
.article-submit-btn:active{
  background-color: #e2e2e2;
  outline: none !important;
  box-shadow: none !important;
}