:root{
  font-size: 62.5%;
}
body {
  font-family: Montserrat, Helvetica, sans-serif;
}
body main {
  position: relative;
  color: #222;
  margin-top: 2rem;
}

.art-banner-container1{
  display: none;
  position: relative;
  height: 35vh;
  background-color: #eee;
  max-width: 100%;
  padding: 2rem;
  transition: background-color, 200ms ease-in-out;
}

.art-banner-container1:hover 
.head-title{
  transform: translateX(20px);
  opacity: 1;
}
.type{
  font-weight: 600;
}
.head-title{
  width: 95%;
  font-size: 4rem;
  letter-spacing: -0.05rem;
  line-height: 4rem;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.head-detail{
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.head-detail-date{
  text-decoration: underline;
}
.article-wrapper{
  margin: 2rem;
  padding: 5rem 0;
  text-align: unset;
  background-color: #fff;
}
.article-ol-container{
  position: relative;
  list-style-position: inside;
  list-style-type: lower-roman;
  list-style: none;
  padding-left: 0;
}

.article-list {
  background-color: #fff;
  text-transform: capitalize;
  margin-bottom: 5rem;
  width: 80%;
}
.article-list:first-of-type{
  padding-top: 10rem;
}

.article-link {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: .96px;
  text-decoration: none;
  padding-left: 0rem;
  padding-bottom: 10px;
  color: inherit;
  transition: color 50ms ease-in-out;
}
.article-link:hover{
  /* text-decoration: underline; */
  /* text-decoration-color: #aaa; */
  color: #555;
}
.article-pub, 
.cate{
  font-size: .8rem;
  opacity: 1;
}
.article-pub{
  color: #777;
}
.cate{
  margin-left: 3px;
}
.cate:hover{
  cursor: pointer;
}
.cate-article{
  color: rgb(43, 110, 253);
}
.cate-creativity{
  color: rgb(255, 110, 100);
}
.cate-diary{
  color: rgb(0, 164, 41);
}
.cate-journal{
  color: rgb(230, 164, 0);
}
.cate-knowledge{
  color:rgb(174, 43, 240);
}
.type{
  font-size: 1.4rem;
}
.pagination{
  text-align: right;
  margin-top: 4rem;
}
.pagination a{
  text-decoration: none;
  color: #67A872;
  padding-left: 5px;
  padding-right: 5px;
}

.head-detail{
  font-size: 1.1rem;
}
/* .latest-entry-title{
  
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  border-radius: 2px;
  background-color: rgb(21, 24, 28);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: .5rem 1.5rem;
} */
.latest-entry-title{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.la-coffee{
  font-size: 2rem;
  padding-right: 8px;
}
.create-button {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 300;
  position:absolute;
  right: 0;
  top: 4rem;
  border-radius: 3px;
  background-color: rgb(35, 35, 35);
  border: none;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  transition: all 200ms;
  cursor: pointer;
}
.create-button:hover{
  color: inherit;
  opacity: 0.9;
}
.create-button span {
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}
.create-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.4rem;
  transition: 200ms;
}
.create-button:hover span {
  padding-right: 1.25rem;
}
.create-button:hover span:after {
  opacity: 1;
  right: 0;
}
.entry-title{
  padding: 2rem;
  margin: 50px 4%;
}
.second-create-link-container{
  text-align: center;
}
.second-article-create-link{
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: underline;
  color: #555;
}
.second-article-create-link:hover{
  text-decoration: none;
  color: #000;
}
.la-pen-alt{
  padding-left: 1rem;
}
@media only screen and (min-width: 750px){
  :root{
  font-size: 100%;
  }
  .art-banner-container1, 
  .article-ol-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .art-banner-container1{
    height: 50vh;
  } 
  .create-button{
    right: 10%;
  }
  .article-list{
    margin-bottom: 4rem;
  }
  .article-link{
    font-size: 1rem;
  }
  .article-pub, .cate{
    font-size: .8rem;
  }
  .second-create-link-container{
    text-align: left;
    padding-left: 5rem;
  }
  .second-article-create-link{
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1000px){
  .art-banner-container1{
    padding-top: 10rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  .article-ol-container{
    padding-left: 15%;
    padding-right: 15%;
  }
  .article-link{
    font-size: .8rem;
  }
}

      
    

