body{
  font-family: 'Inter', serif;
  color: #444;
}
.slash{
  opacity: .25;
}
.article-container{
  font-size: 1.4rem;
  margin-top: 2rem;
  padding: 3rem;
  font-weight: 300;
}
.article-container > p {
  font-family: 'Crimson Text', serif;
  font-size: 1.6rem;
}
.article-container > p.article-detail-title {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 2.5rem;
}
.article-detail-body{
  font-family: 'Crimson Text', serif;
  line-height: 1.6;
  width: 60ch;
}
.icon-container{
  text-align: right;
  background-color: #444;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-article-edit-btn, .detail-article-del.btn{
  display: block;
}
.icon{
  border: none;
  background-color: inherit;
}
.fa-pen-square, .fa-trash-alt{
  color: white;
  font-size: 2.4rem;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
}
.fa-pen-square:hover, .fa-trash-alt:hover {
  opacity: .75;
}
.fa-pen-square:active, .fa-trash-alt:active {
  color: #aaa;
}
.last-modified-detail{
  color: #fff;
  font-size: .8rem;
}

    @media all and (min-width: 750px){
      :root{
        font-size: 100%;
      }
      .article-container{
        width: 60ch;
        margin: 0 auto;
        /* margin-top: 2rem; */
        /* min-height: 50vh; */
      }
      .article-container > p {
        font-size: 1.4rem;
        
      }
      .article-container > p.article-detail-title{
        font-size: 2.2rem;
      }
      
    }



