*{
  margin: 0px;
  padding: 0px;
}

.nav-box{
  background-color: black;
  height: 3.5em;
  border-bottom: 1px solid rgb(107, 107, 107);
  
}

.nav-list{
  display: inline-flex;
  margin-right: 60px;
}

.nav-link{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px;
  position: relative;
  left: 30px;
  color: white
  
}

.nav-link:hover{
  color: rgb(211, 211, 211);
}

#home-button{
  color: rgb(199, 0, 0);
}

#admin-link{
  color: red;

}

#logout-link, #login-link, #create-account-link{
  opacity: 65%;
}

#my-task-link{
  color: rgb(0, 208, 0);
}