/* 320px — 480px: Mobile devices */
/* 481px — 768px: iPads, Tablets */
/* 769px — 1024px: Small screens, laptops */
/* 1025px — 1200px: Desktops, large screens */
/* 1201px and more —  Extra large screens, TV */
:root{
  font-size: 62.5%;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
html {
  display: block;
  min-width: 100%;
  margin: 0;
  overflow-x: hidden;
}
body { 
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #000;  
  background: #fbfbfd;
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: calc(100% - 10px);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.8em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}
.header-outer{
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.3);
}
.header-inner{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-container{
  width: auto;
  display: flex;
  justify-content: space-between;
  
}
.nav-container > a {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
  margin-left: 2.5rem;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.header-inner a:hover{
  text-decoration: none;
}
.header-inner a:hover::after{
  transform: scaleX(1);
}
.header-inner a::after{
  transition: 250ms ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

.fa-lock{
  font-size: .8rem;
  padding-right: 2px;
}
#home-link{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  white-space: nowrap;
  color: #222;
}
#signup-link{
  color: hsl(16, 83%, 55%);
}
/* #quote-link::after,
#value-link::after,
#journal-link::after,
#gratitude-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
}
#journal-link::after {
  background-color: #7eb9f9;
}
#gratitude-link::after {
  background-color: #FFD36A;
}
#quote-link::after {
  background-color: rgb(0, 150, 55);
}
#value-link::after {
  background-color: rgb(255, 120, 29);
}
#journal-link:hover::after,
#gratitude-link:hover::after,
#value-link:hover::after,
#quote-link:hover::after, {
  transform: scaleX(1);
} */



.create-button {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  position:absolute;
  right: 0;
  border-radius: 0px;
  background-color: rgb(35, 35, 35);
  border: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 1em 2.5em;
  transition: all 200ms;
  cursor: pointer;
}
.create-button:hover{
  color: inherit;
  opacity: 0.8;
}
.create-button span {
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}
.create-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.4rem;
  transition: 200ms;
}
.create-button:hover span {
  padding-right: 1.25rem;
}
.create-button:hover span:after {
  opacity: 1;
  right: 0;
}


    
    @media all and (min-width:750px){
      :root {
        font-size: 100%;
      }
      .header-outer{
        padding: 0 4rem;
      }
    }