* {
  color: black;
  font-size: 1em;
  /* background-color: rgba(255, 255, 240, 1); */
  background-color: gold;
}
body{
  padding: 2% 3.5% 2%;
  
}

body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background-color: rgb(235, 235, 235);
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(180, 180, 180);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 7vh;
  list-style: none;
  
  
}


.nav-list-first{
  display: inline-block;
  margin: 0px 50px;
  padding: 10px 10px;
}
.nav-list{
  display: inline-block;
  margin: 0px 50px;
  padding: 10px 10px;
}

.menu li a{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #05386B;
  text-decoration: none;

}

.button-first{
  font-size: 15px;
  color: white;
  height: 45px;
  width: 100px; 
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px;
  background-color: #05386B;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color, opacity 300ms ease 0ms;
}
.button-first:hover{
  text-decoration: none;
  background-color: #05386B;
  opacity: 85%;
}
  
.button-secondary{
  font-size: 15px;
  color: #05386B;
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px;
  padding: 9px 25px;
  background:transparent;
  border: 1px solid #05386B;
  border-radius: 4px;
  cursor: pointer;
  /* transition: opacity 300ms ease 0ms; */
}
/* .button-secondary:hover{
  text-decoration: none;
  opacity: 0.7;
  
} */

.nav-list-first:first-child{
  background-color: rgba(255, 255, 220, 1);
  border-radius: 1% 35%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100px;
}


/* Nav Home */
#main-link{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 220, 1);
  transition-property: text-shadow, opacity;
  transition-duration: 500ms;
}
#main-link:hover{
  text-shadow: 130px 0px  black;
  opacity: 90%;
}


/* Article Nav */
#article-link{
  /* color: white; */
  transition-duration: 350ms;
  transition-property: color;
  position: relative;
}
#article-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 147, 184, 1);
  

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease;
}
#article-link:hover::after{
  transform: scaleX(1);
}

/* #article-link:hover{
  color: rgba(55, 150, 131, 1);
  background-color:rgba(55, 150, 131, 0.3);
  border-radius: 3px;
} */


/* Gratitude Nav */
#gratitude-link{
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#gratitude-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(228, 68, 156);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease;
}
#gratitude-link:hover::after{
  transform: scaleX(1);
}
/* #gratitude-link:hover{
  color: rgb(194, 61, 134);
  background-color: rgba(194, 61, 134, .2);
  border-radius: 3px;
} */


/* Quote Nav */
#quote-link{
  /* color: rgba(0, 140, 40, 1); */
  /* color: white; */
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#quote-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 150, 55);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease;
}
#quote-link:hover::after{
  transform: scaleX(1);
}
/* #quote-link:hover{
  color: rgba(0, 147, 184, 1);
  background-color: rgba(0, 147, 184, .2);
  
  border-radius: 3px;
} */


/* Value Nav */
#value-link{
  /* color: white; */
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#value-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  /* background-color: currentColor; */
  background-color: rgba(250, 101, 47, 1);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease;
}
#value-link:hover::after{
  transform: scaleX(1);
}
/* #value-link:hover{
  color: rgba(181, 30, 30, 1);
  background-color: rgba(238, 45, 45, 0.2);
  border-radius: 3px;
} */


/* Admin Nav */
#admin-link{
  color: #05386B;
}
#admin-link:hover{
  color: rgb(255, 34, 34);
  /* opacity: 70%;   */
  }


  /* Article + Quotes + Values Page Header  */
.page-header{
  font-family: 'Domine', serif;
  color: #05386B;
  font-weight: 400;
  font-size: 2.4em;
  margin: 25px 15px;
  cursor: default;
}

.page-header::before{
  content: open-quote;
  color: rgb(160, 160, 160);
}
.page-header::after{
  content: close-quote;
  color: rgb(160, 160, 160);
}

/* .create-button{
  cursor: pointer;
  
  border-radius: 4px;
  width: 160px;
  height: 30px;
  border: black;
  background-color: rgba(70, 70, 70, 1);
  color: white;
  text-align: center;
  transition: background-color 350ms ease;
}

.create-button:hover{
  background-color: rgba(30, 30, 30, 1);
} */

.create-button {
  border-radius: 4px;
  background-color: #05386B;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
}

.create-button span {
  background-color: #05386B;
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.create-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.create-button:hover span {
  padding-right: 25px;
}

.create-button:hover span:after {
  opacity: 1;
  right: 0;
}

.page-ol-container {
  margin-top: 20px;
  list-style-position: inside;
  list-style-type: lower-roman;
  color: rgb(215, 0, 0);
}

.pub-date{
  color: rgba(130, 130, 130, 0.7);
  font-size: 12px;
  font-family: 'Chakra Petch', sans-serif;
}