.nav-box{
  /* border-bottom: 1px solid grey; */
  padding-top: 10px;
  background-color: black;
  height: 2em;
}

.nav-list{
  display: inline-flex;
  margin-right: 20px;
}

.nav-link{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px;
  position: relative;
  left: 30px;
  color: white;
  
}