root:{
  font-size: 100%;
}
*{
  box-sizing: border-box;
  
}
html {
  height: 100%;
  display: block;
  min-width: 100%;
  margin: 0;
  font-size: 100%;
  overflow-x: hidden;
  
}

body { 
  color: #000;  
  background: #fbfbfd;
  margin: 0;
  padding: 0;
  min-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.8em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}


.navbar{
  font-family: 'Poppins', sans-serif;
  display: flex;
  position: relative;
  top: 0px;
  max-width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.home-title{
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 1rem;
}
/* .home-title:hover{
  color: rgb(185, 145, 96);
} */
.nav-list {
  list-style: none;

}
.navbar a {
  color: black;
  background-color: transparent;
  padding: 1rem;
  display: inline-block;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu .nav-list{
  margin: 0px 0.5rem;
}
.item1{
  font-size: .85rem;
  margin-right: 1.5em;
}
.item2{
  font-size: 1.2rem;
}

.button-div{
  display: flex;
  position: relative;
  right: 0.1rem;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  
}

.button-first {
  
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1em 2em;
  background-color: #05386B;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color, opacity;
  transition: all 200ms ease 0ms;
}
.button-first:hover {
  text-decoration: none;
  background-color: #0f5296;
  opacity: 85%;
}
  
.button-secondary {
  white-space: nowrap;
  color: rgb(13, 15, 25);
  font-family: 'Poppins', sans-serif;
  padding: 1em 2em;
  width: 100%;
  background-color: rgb(6, 226, 119);
  border: 1px solid rgb(6, 226, 119);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, border;
  transition: all 200ms ease;
  
  /* float: none; */

}
.button-secondary:hover {
  text-decoration: none;
  background-color: rgb(6, 151, 81);
  border: 1px solid rgb(6, 151, 81);
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 8px;
}

/* Nav Home */
#main-link {
  font-weight: 600;
  text-align: center;
  transition-property: text-shadow;
  transition-duration: 350ms;
}
/* #main-link:hover {
  text-shadow: 120px 0px #fff;
} */

/* Article Nav */
#journal-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: #7eb9f9;
}
#journal-link:hover::after {
  transform: scaleX(1);
}

/* Gratitude Nav */
#gratitude-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: #FFD36A;
}
#gratitude-link:hover::after {
  transform: scaleX(1);
}

/* Quote Nav */
#quote-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(0, 150, 55);
}
#quote-link:hover::after {
  transform: scaleX(1);
}

/* Value Nav */
#value-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(255, 120, 29);
}
#value-link:hover::after {
  transform: scaleX(1);
}
.item1{
  transition-duration: 200ms;
  transition-property: color;
  position: relative;
}
.item1::after{
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}


/* Admin Nav */
#admin-link {
  color: #fff;
}
#admin-link:hover {
  color: rgb(255, 34, 34);
}

  /* Article + Quotes + Values Page Header  */
.page-header {
  font-family: 'Domine', serif;
  color: #05386B;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1em 0.75em;
  cursor: default;
}
.page-header::before {
  content: open-quote;
  color: rgb(160, 160, 160);
}
.page-header::after {
  content: close-quote;
  color: rgb(160, 160, 160);
}

.create-button {
  position:absolute;
  right: 0;
  /* margin-left: auto; */
  /* margin-right: auto; */
  border-radius: 0px;
  background-color: rgb(66, 108, 116);
  border: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.6em 1.6em;
  transition: all 200ms;
  cursor: pointer;
  
}

.create-button:hover{
  color: inherit;
  opacity: 0.8;
}

.create-button span {
  background-color: rgb(66, 108, 116);
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}

.create-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.4rem;
  transition: 200ms;
}

.create-button:hover span {
  padding-right: 1.25rem;
}

.create-button:hover span:after {
  opacity: 1;
  right: 0;
}

.page-ol-container {
  list-style-position: inside;
  list-style-type: lower-roman;
  list-style: none;
  /* color: rgb(215, 0, 0); */
}

.pub-date {
  color: rgba(165, 165, 165, 1);
  /* font-size: 0.75rem; */
  font-family: 'Chakra Petch', sans-serif;
  /* font-style: italic; */
  
}

.test-nav {
  display: flex;
  padding: 25px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.test-nav > a {
  font-family: 'Domine', serif;
  font-size: 24px;
  color: coral;
  font-weight: bold;
  display: flex;
  border: 2px solid coral;
  border-radius: 7px;
  background-color: white;
  width: 15%;
  opacity: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 7vh;
  text-decoration: none;
}
.copy-right{
  color: #000;
  text-align: center;

}


    @media all and (max-width: 750px){
      html {
        min-width: 100%;
        margin: 0;
        font-size: 62.5%;
        overflow-x: hidden;
      }
      .menu .nav-list {
        margin: 0px 0.5rem;
      }
      .navbar a {
        padding: .25rem .5rem;
      }
      
      
      
      
      .button-first, .button-secondary{
        display: inline-block;
        word-wrap: break-word;
        
        padding: 0.4rem;
      }

      
      
      .page-ol-container {
        
        padding-inline-start: 0rem;
        padding: 3em;
      }
      .page-header{
        font-size: 2rem;
      
      }
      .create-link{
        margin: 1em auto;
      }
      .create-button{
        /* margin: 1rem auto; */
        padding: 1.25rem 2.5rem;
        
      }
      
      .pub-date {
        font-size: 1rem;
      }
      
        
    }
    
    @media all and (min-width:1000px){
      :root {
        font-size: 100%;
      }
    }