*{
  box-sizing: border-box;
  
}
html {
  height: 100%;
  display: block;
  min-width: 100%;
  margin: 0;
  font-size: 100%;
  overflow-x: hidden;
  
}

body { 
  color: #05386B;  
  background-color: rgb(235, 235, 235);
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.8em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}
header {
  background-color:rgba(13, 15, 25, 1);
} 

.navbar{
  font-family: 'Poppins', sans-serif;
  display: flex;
  position: relative;
  top: 0px;
  width: 100%;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.home-title{
  font-size: 2rem;
  font-family: 'Signika Negative', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 900;
  padding: 1rem;
  /* z-index: -1; */
}
.nav-list {
  list-style: none;

}
.navbar a {
  color: white;
  background-color: transparent;
  padding: 1rem;
  display: inline-block;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu .nav-list{
  margin: 0px 0.5rem;
}
.item1{
  font-size: .85rem;
  margin-right: 1.5em;
}
.item2{
  font-size: 1.2rem;
}

.button-div{
  display: flex;
  position: relative;
  right: 0.1rem;
  align-items: center;
  text-align: center;
  
}

.button-first {
  
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1em 2em;
  background-color: #05386B;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color, opacity;
  transition: all 200ms ease 0ms;
}
.button-first:hover {
  text-decoration: none;
  background-color: #0f5296;
  opacity: 85%;
}
  
.button-secondary {
  white-space: nowrap;
  color: rgb(13, 15, 25);
  font-family: 'Poppins', sans-serif;
  padding: 1em 2em;
  width: 100%;
  background-color: rgb(6, 226, 119);
  border: 1px solid rgb(6, 226, 119);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, border;
  transition: all 200ms ease;
  
  /* float: none; */

}
.button-secondary:hover {
  text-decoration: none;
  background-color: rgb(6, 151, 81);
  border: 1px solid rgb(6, 151, 81);
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 8px;
}

/* Nav Home */
#main-link {
  
  font-weight: 600;
  display: inline;
  justify-content: center;
  align-items: center;
  transition-property: text-shadow, opacity;
  transition-duration: 350ms;
}
#main-link:hover {
  text-shadow: 120px 0px #05386B;
  opacity:88%;
}

/* Article Nav */
#journal-link {
  transition-duration: 350ms;
  transition-property: color;
  position: relative;
}
#journal-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgba(0, 147, 184, 1);
  
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#journal-link:hover::after {
  transform: scaleX(1);
}

/* Gratitude Nav */
#gratitude-link {
  transition-duration: 200ms;
  transition-property: color;
  position: relative;
}
#gratitude-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(228, 68, 156);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#gratitude-link:hover::after {
  transform: scaleX(1);
}

/* Quote Nav */
#quote-link {
  /* color: rgba(0, 140, 40, 1); */
  /* color: white; */
  transition-duration: 200ms;
  transition-property: color;
  position: relative;
}
#quote-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(0, 150, 55);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#quote-link:hover::after {
  transform: scaleX(1);
}

/* Value Nav */
#value-link {
  /* color: white; */
  transition-duration: 200ms;
  transition-property: color;
  position: relative;
}
#value-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(255, 120, 29);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease;
}
#value-link:hover::after {
  transform: scaleX(1);
}

/* Admin Nav */
#admin-link {
  color: #05386B;
}
#admin-link:hover {
  color: rgb(255, 34, 34);
  /* opacity: 70%;   */
  }

  /* Article + Quotes + Values Page Header  */
.page-header {
  font-family: 'Domine', serif;
  color: #05386B;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1em 0.75em;
  cursor: default;
}

.page-header::before {
  content: open-quote;
  color: rgb(160, 160, 160);
}
.page-header::after {
  content: close-quote;
  color: rgb(160, 160, 160);
}

.create-button {
  position: absolute;
  
  right: 0rem;
  border-radius: 0px;
  background-color: #05386B;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.6em 1.6em;
  transition: all 200ms;
  cursor: pointer;
  
}

.create-button:hover{
  color: inherit;
  opacity: 0.85;
}

.create-button span {
  background-color: #05386B;
  color: white;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}

.create-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.4rem;
  transition: 200ms;
}

.create-button:hover span {
  padding-right: 1.25rem;
}

.create-button:hover span:after {
  opacity: 1;
  right: 0;
}

.page-ol-container {
  list-style-position: inside;
  list-style-type: lower-roman;
  color: rgb(215, 0, 0);
}

.pub-date {
  color: rgba(130, 130, 130, 0.7);
  font-size: 0.75rem;
  font-family: 'Chakra Petch', sans-serif;
  
}

.test-nav {
  display: flex;
  padding: 25px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.test-nav > a {
  font-family: 'Domine', serif;
  font-size: 24px;
  color: coral;
  font-weight: bold;
  display: flex;
  border: 2px solid coral;
  border-radius: 7px;
  background-color: white;
  width: 15%;
  opacity: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 7vh;
  text-decoration: none;
}
.copy-right{
  color: rgb(233, 233, 233);
  text-align: center;

}


    @media all and (max-width: 750px) and (min-width: 250px) {
      html {
        min-width: 100%;
        margin: 0;
        font-size: 62.5%;
        overflow-x: hidden;
      }
      
      .navbar{
        /* justify-content: flex-start; */
      }
      .home-link, .home-title{
        display: none;
      }
      
      .button-first, .button-secondary{
        display: inline-block;
        word-wrap: break-word;
        
        padding: 0.4rem;
      }

      
      
      .page-ol-container {
        padding-inline-start: 1em;
        padding: 2.5%;
      }
      .page-header{
        font-size: 2rem;
      
      }
      .create-link{
        margin: 1em auto;
      }
      .create-button{
        /* margin: 1rem auto; */
        padding: 2rem 4rem;
        position:absolute;
        right: 0;
      }
      .pub-date {
        font-size: 1rem;
      }
      
        
    }