*{
  margin: 0px;
  color: black;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 5%;
  background-color: rgb(0, 10, 15);
  list-style: none;
}

.nav-list-first{
  display: inline-block;
  margin: 0px 50px;
  padding: 10px 10px;
}
.nav-list{
  display: inline-block;
  margin: 0px 50px;
  padding: 10px 10px;
}

.menu li a{
  font-size: 17px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 500; */
}

.button-first{
  font-size: 16px;
  color: white;
  height: 45px;
  width: 100px; 
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 400ms ease 0ms;
}
.button-first:hover{
  text-decoration: none;
  background-color:rgba(0, 136, 169, 0.7);
}
  
.button-secondary{
  font-size: 17px;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 10px 20px;
  padding: 9px 25px;
  background:transparent;
  border: 1px solid rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  transition: color 400ms ease 0ms;
}
.button-secondary:hover{
  text-decoration: none;
  color: rgba(255,255,255,0.7);
  border-color: rgba(255,255,255, 0.7);
}

.nav-list-first:first-child{
  background-color: yellow;
  border-radius: 1% 35%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100px;
}


/* Nav Home */
#home-link{
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 10, 15, 1);
  transition-property: text-shadow, opacity;
  transition-duration: 500ms;
}

#home-link:hover{
  text-shadow: 130px 0px  rgba(255, 255, 255, 1);
  opacity: 90%;
  transform: rotate(1080deg);
}


/* Article Nav */
#article-link{
  /* color: rgba(0, 136, 169, 1); */
  color: white;
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#article-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
#article-link:hover::after{
  transform: scaleX(1);
}

#article-link:hover{
  color: rgb(5, 205, 255);
}


/* Gratitude Nav */
#gratitude-link{
  /* color: rgba(255, 148, 207, 1); */
  color: white;
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#gratitude-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
#gratitude-link:hover::after{
  transform: scaleX(1);
}
#gratitude-link:hover{
  color: rgb(255, 148, 207, 1);
}


/* Quote Nav */
#quote-link{
  /* color: rgba(0, 140, 40, 1); */
  color: white;
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#quote-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
#quote-link:hover::after{
  transform: scaleX(1);
}
#quote-link:hover{
  color: rgb(44, 255, 104);
}


/* Value Nav */
#value-link{
  color: white;
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}
#value-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
#value-link:hover::after{
  transform: scaleX(1);
}
#value-link:hover{
  color: rgba(255, 68, 0, 1);

}


/* Admin Nav */
#admin-link{
  color: white;
}
#admin-link:hover{
  color: rgb(255, 34, 34);
  /* opacity: 70%;   */
  }

