/* MOBILE FIRST DESIGN */
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: none;
}
aside{
  padding: 1.25rem 1rem;
  background: #222;
  color: #fff;
  text-align: center;
  font-weight: 600;
  
}
main{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.main-section{
  position: relative;
  background-color: hsl(38, 30%, 95%);
  background: #f6efe8;
  padding: 15rem 1rem 5rem;
  
}
.main-text-wrap{
  text-align: center;
}

.main-web-title{
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
}
.main-slogan{
  margin: 0;
  font-size: 5rem;
  letter-spacing: -1.5px;
  padding-bottom: 2rem;
}
.main-text{
  font-size: 1.6rem;
  margin: 0;
  padding-bottom: 4rem;
  /* line-height: 22px; */
}
.mind-lab{
  color: #2565aa;
  text-decoration: underline;
}
.signup-container{
  margin: 4rem auto;
  text-align: center;
  position: relative;
}
.appreciation-svg{
  width: 325px;
}

.get-start--link{
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  background-color: #595959;
  border: none;
  border-radius: 3px;
  
  padding: 1.25rem 2.5rem;
  margin-left: 1rem;
  background: linear-gradient(to right, #2565aa 50%, #444 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition-property: background-position;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.get-start--link:hover{
  background-position: left bottom;
}
.already-link{
  margin-right: 1rem;
  display: inline-block;
  color: #444;
}
.already-link:hover{
  text-decoration: none;
}

.pen{
  position: absolute;
  bottom: 0;
  display: block;
  max-width: 30%;
  /* margin-left: 67%; */
  right: 10px;
  border-radius: 2px;
}

.new-section{
  background-color: #f3f3f5;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1rem;
}
.new-text-wrapper{
  padding-left: 1rem;
  padding-right: 1rem;
}
.new-text{
  color: #373a3c;;
  font-size: 2rem;
  line-height: 23px;
  margin: 0;
  padding-bottom: 1rem;
}
.new-icon-list{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
}
.new-icon-item{
  display: flex;
}
.new-icon-item > i {
  align-self: flex-start;
  font-size: 5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 10px;
}
.new-icon-title, .new-icon-text{
  line-height: 22px;
}
.new-icon-title{
  font-size: 1.45rem;
  font-weight: 600;
}
.new-icon-text{
  font-size: 1.2rem;
}
.last-div{
  padding: 0 1rem;
  padding-top: 1rem;
}
.last-div-text {
  
  font-size: 1.4rem;
  line-height: 17px;
}
.orange-section{
  background: #FFD36A;
  
}
.blue-section{
  background-color: #7eb9f9;
}
.orange-section, .blue-section{
  min-width: 100%;
  padding: 4rem 1rem;
}

.orange-container, .blue-container{
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: left;
}
.orange-bg-title, .blue-bg-title{
  font-size: 1.8rem;
  padding: 0 1rem;
}
.orange-bg-text, .blue-bg-text{
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 1rem;
  
  line-height: 1.7;
}
.start-for-free-container{
  text-align: right;
  padding-right: 1rem;
  
}
.start-for-free-btn{
  display: inline-block;
  text-align: right;
  background-color: #ffffff;
  box-shadow: 0 8px 6px -6px #000;
  margin-top: 1rem;
  
  color: black;
  padding: 1.25rem 2.5rem;
  font-size: 1.1rem;
  border-radius: 3px;
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}
.start-for-free-btn:hover{
  transform: scale(1.1);
}
.second-new-section{
  padding: 1.5rem 1rem;
}
.why-header{
  padding: 1rem;
}
.why-icon-list {
  padding: 2rem 1rem;
  list-style: none;
}
.second-new-section .fas {
  font-size: 5rem;
}
.why-icon-msg {
  padding-bottom: 2rem;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #efeff1;
}


.platform-container{
  padding: 2rem;
  background-color: #f3f3f5;
}
.platform{
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: .04rem;
  font-weight: 700;
  margin: 0;
}
.split{
  display: flex;
}
.bg-color{
  padding: 15% 2.5%;
  overflow: auto;
  border-radius: 3px;
}
.split > div {
  margin: 0 2rem;
}
.bg-black{
  background-color: #131313;
  color: #fff;
}
.bg-red{
  background-color: rgb(236, 236, 236);
  background-color: #fff;
}
.bg-green{
  background-color: #fff;
  background-color: rgb(236, 236, 236);
}
.bg-color-header{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.8;
}
.bg-color-msg{
  word-spacing: .035rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}
.design, 
.traveling, 
.responsive
{
  width: 150px;
}
.customization{
  position: relative;
  top: 20%;
}
.traveling{
  position: relative;
  top: 35%;
}

.bk2-wrapper{
  min-width: 100%;
  height: 600px;
}
.bk2-head{
  font-size: 2rem;
  transition: opacity 200ms ease;
}
.bk2-head:hover{
  opacity: 1;
}
.bk2-links{
  text-decoration: none;
  color: rgba(255, 255, 255, .65);
}
.bk2-msg{
  font-size: 1.45rem;
  font-weight: 200;
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-test{
  max-width: 100%;
  padding: 2rem;
  background-color: #cecece;
  color: #000;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}
.title-test-1{
  text-align: center;
}
.title-test-2{
  background-color: rgb(55, 55, 55);
  color: white;
}
.no-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.no-item{
  padding: 0.25rem .5rem;
}
.double-white-container{
  max-width: 100%;
  margin: 0 auto;
}
.simplicity-div, 
.traveling-div{
  display: flex;
  justify-content: flex-start;
}
.responsive-div{
  display: flex;
  justify-content: flex-end;
}
.bg-color-text-wrapper{
  width: 50%;
}
.responsive-text-wrapper{
  text-align: right;
}

  @media only screen and (min-width: 750px) {
    .appreciation-svg{
      width: 650px;
    }
    .main-slogan{
      font-size: 4rem;
    }
    .signup-container{
      margin-top: 9rem;
    }
    .blue-bg-text, 
    .orange-bg-text, 
    .last-div-text{
      font-size: 1rem;
      width: 60ch;
    }
    .why-header{
      font-size: 2rem;
    }
    .why-icon-msg{
      font-size: 1.1rem;
    }
  }

  @media only screen and (min-width: 1000px) {
    .get-start--link{
      padding: 2.5rem 5rem;
    }
    .orange-container, .blue-container{
      padding-left: 10rem;
    }
    .new-section, .second-new-section{
      padding-left: 7rem;
      padding-right: 7rem;
    }
    .start-for-free-container{
      padding-right: 10rem;
    }
  }
