* {
  /* background-color: rgb(230, 228, 223); */
}

main{
  flex-wrap: wrap;
  font-family: 'Roboto Slab', serif;
  color: rgba(0, 10, 15, 1);
  /* background-color: rgb(255, 250, 241); */
  padding: 2.5% 2.5%;
}

.quote-1, .quote-2{
  font-size: 1.4em;
  cursor: default;

} 

#mind{
  text-decoration: underline;
}

.container-1, .container-2, .vid-container-1{
  display: flex;
  justify-content: space-around;
  margin: 25px 0px;

}
.plan-container{
  list-style-type: circle;
  font-size: 1.4em;
}

.plan{
  color: red;
}

.vid-container-1{
  margin: 50px 0px;
}

.container-1 > li{
  display: inline-block;
}


.container-2 > li{
  display: inline-block;
}

.vid-container-1 > li{
  display: inline-block;

}

#vid-1{
  width: 1300px;
  height: 720px;
}