body{
  background-color: rgba(0, 10, 15, 1);
  color: white;
}

.front-page-quote{
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  padding: 25%;
  padding-left: 15%;
  
} 

.p-1{
  font-family: 'Roboto Slab', serif;
  position: absolute;
  left: 620px;
  margin-top: 5px;
}

