/* MOBILE FIRST DESIGN */
html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.sec-1{
  background-color: #222;
  color: white;
}
.bg-light{
  min-width: 100%;
  padding-top: 4.5rem;
  padding-bottom: 5px;
  padding-left: 5%;
}
.msg-wrap{
  /* position: relative;
  top: 4.5rem; */
  text-transform: none;
  /* margin-left: 5%; */
}

.bg-light-title{
  font-size: 2.8rem;
  font-weight: 600;
  padding-right: 1em;
}

.bg-light-msg{
  color: 	#eaeaea;
  line-height: 1.1;
  /* font-family: 'Rajdhani', sans-serif; */
  text-transform: uppercase;
  letter-spacing: .081rem;
  font-size: 1.3rem;
  font-weight: 400;
  position: relative;
  text-align: left;
}
.bg-light-msg{
  font-size: 1.1rem;
  line-height: 1.875rem;
  letter-spacing: normal;
  max-width: 60%;
  /* padding-bottom: 1.3rem; */
}

.pen{
  display: block;
  max-width: 30%;
  margin-left: 67%;
}
.what-section, .why-section{
  min-width: 100%;
  padding: 5%;
}
.what-section{
  background: #FFD36A;
}
.what-container, .why-container{
  font-size: 1rem;
  margin: 0 auto;
  text-align: left;
}
.what-title{
  font-size: 2.2rem;
  font-family: 'Source Serif Pro', serif;
}
.what-text{
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 60ch;
  line-height: 1.8;
}
.split{
  display: flex;
}

.feature-section{
  margin: 10rem 0;
  text-align: center;
}
.why-section{
  background-color: #7eb9f9;
}
.quote-wrapper {
  margin: 5rem auto ;
  text-align: left;
}

.double-white-sec{
  margin: 2.5rem 0;
}

.feat{
  font-size: .8rem;
  letter-spacing: .135rem;
  font-weight: 400;
  color: rgb(136, 136, 136);
}
.icon-wrapper{
  margin: 0 auto;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  
}
.icon-inner{
  margin: 0 2rem;
  width: 30%;
}
.why-wrapper{
  margin: 5rem auto;
}
.why-inner{
  margin: 7.5rem auto;
}
.why-inner:first-of-type{
  margin-top: 2.5rem;
}
.why-header{
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(75, 76, 77);
  opacity: .5;
  transition: opacity 200ms ease;
}
.why-header:hover{
  opacity: 1;
  cursor: pointer;
}
.why-msg{
  margin: 0 auto;
  max-width: 65%;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
  color: black;
  word-spacing: 0.091rem;

}

.happy-quote{
  margin: 5rem 0;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;
}
.happy-quote::before{
  content: open-quote;
}
.happy-quote::after{
  content: close-quote;
}
.happy-quote::before, .happy-quote::after{
  display: inline-block;
  vertical-align: bottom;
  color: #FFD36A;
  font-size: 3em;
}

.brain-split-container{
  text-align: right;
  margin-top: 10rem;
}
.brain-icon-container{
  align-self: center;
}


.fa-brain{
  color: rgb(242, 158, 158);
  transition-property: transform, color;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}
.fa-brain:hover {
  color: rgb(255, 132, 132);
  transform: scale(1.35);
}


.get-start-container{
  display: flex;
  justify-content: space-between;
}
.already-link{
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}
.already-link:hover{
  text-decoration: underline;
  opacity: .55;
}
.get-start--link{
  text-decoration: none;
  text-align: center;
}
.get-start--btn{
  cursor: pointer;
  display: inline;
  font-size: 1.1rem;
  color: #f5f5f5;
  background-color: #707070;
  border: none;
  border-radius: 3px;
  padding: 1.25rem 2.5rem;
  
  
  transition-property: background-color, border;
  transition: all 350ms ease;
  /* #07d672 */

  background: linear-gradient(to right, #fff 50%, #707070 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition-property: background-position, color;
  transition: all 200ms ease-out;
}

.get-start--btn:hover{
  background-position: left bottom;
  color: #000; 
}
.get-start--btn:active{
  opacity: 1;
}
.bg-color{
  
  padding: 5%;
  overflow: auto;
  border-radius: 3px;
}

.split > div {
  margin: 0 2rem;
}
.bg-black{
  background-color: #131313;
  color: #fff;
}

.bg-red{
  background-color: rgb(236, 236, 236);
}
.bg-green{
  background-color: #fff;
  
}
.bg-color-header{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
}
.bg-color-msg{
  word-spacing: .035rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
}
.design, 
.traveling, 
.responsive
{
  width: 150px;
}
.customization{
  position: relative;
  top: 20%;
}
.platform{
  position: relative;
  top: 25%;
}
.traveling{
  position: relative;
  top: 35%;
}

.bk2-wrapper{
  min-width: 100%;
  height: 600px;
}
.bk2-head{
  font-size: 2rem;
  transition: opacity 200ms ease;
}
.bk2-head:hover{
  opacity: 1;
}
.bk2-links{
  text-decoration: none;
  color: rgba(255, 255, 255, .65);
}

.bk2-msg{
  font-size: 1.45rem;
  font-weight: 200;
}


.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-test{
  max-width: 100%;
  padding: 2rem;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  margin: 0;
  
  font-weight: 500;
}
.title-test-1{
  text-align: center;
}
.title-test-2{
  background-color: rgb(55, 55, 55);
  color: white;
}
.no-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.no-item{
  padding: 0.25rem .5rem;
}
.double-white-sec{
  max-width: 100%;
  margin: 0 auto;
}


.simplicity-div, 
.traveling-div{
  display: flex;
  justify-content: flex-start;
}
.responsive-div{
  display: flex;
  justify-content: flex-end;
}
.bg-color-text-wrapper{
  width: 50%;
}
.responsive-text-wrapper{
  text-align: right;
}
@media only screen and (min-width: 750px) and (max-width: 1250px){
  
  
  
  .bg-light-title{
    font-size: 5.75rem;
  }
  
  
  
  .quote-container{
    padding: 6%;
  }
  .what-title{
    
    font-size: 3.5rem;
    /* line-height: 1.08rem; */
    letter-spacing: 0.076rem;
    font-weight: 600;
  }
  .bg-color-msg{
    font-size: 1.1rem;
    
  }
} 
