main {
  flex-wrap: wrap;
  color: rgba(0, 10, 15, 1);
  /* padding: 2vh 10vw; */
}

.quote-1, .quote-2 {
  font-family: 'Domine', serif;
  font-size: 2.4em;
  cursor: default;
  font-weight: 400;
  text-transform: capitalize;

} 

.message {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.container-1 {
  margin-top: 4%;
}
.container-1, .container-2, .vid-container-1 {
  display: flex;
  justify-content: space-around;
  

}
.plan-container {
  list-style-type: circle;
  font-size: 1.4em;
  margin: 500px 0px;
}

.plan{
  font-size: 26px;
  font-family: 'Crimson Text', serif;
  color: rgb(205, 0, 0);
}

.vid-container-1{
  margin: 50px 0px;
}

.container-1 > li{
  display: inline-block;
}


.container-2 > li{
  display: inline-block;
}

.vid-container-1 > li{
  display: inline-block;

}

#vid-1{
  width: 1300px;
  height: 720px;
}