*{
  color: white;

}

body{
  font-family: 'Roboto Slab', serif;
  color: white;
  background-color: rgb(0, 10, 15);
}

main{
  flex-wrap: wrap;
  padding: 2%;
}

.quote-1, .quote-2{
  font-size: 3.5em;
  cursor: default;
  /* padding: 25%; */
  /* padding-left: 15%; */
} 

#mind{
  text-decoration: underline;
}



.container-1, .container-2, .vid-container-1{
  
  display: flex;
  justify-content: space-around;
  margin: 25px 0px;

}

.plan-container{
  list-style-type: none;
  font-size: 2em;
  
}

.plan{
  color: coral;
}

.vid-container-1{
  margin: 50px 0px;
}

.container-1 > li{
  display: inline-block;
}


.container-2 > li{
  display: inline-block;
}

.vid-container-1 > li{
  display: inline-block;

}

#vid-1{
  width: 1300px;
  height: 720px;
}