body main{
  padding: 10rem 2rem;
  width: 95%;
  margin: 0 auto;
}
.header-outer{
  display: none;
}

    @media only screen and (min-width: 750px){
      
    }

        @media only screen and (min-width: 1000px){
      
        }