{% extends 'diary/base.html' %}
{% load static %}
<!-- Load CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock %}
<!-- Load Page Title -->
{% block title %}Inspired. | Articles {% endblock %}

{% block content %}

<!-- Article List View Title -->
<h2 class="article-list-h2 page-header">These are the article i should read if i ever feel down.</h2>

<!-- Create New Article  -->
<a href="{% url 'article-create' %}" class="article-create create-link"><button class="create-button"><span>New</span></button></a>


<!-- Print out each article -->
<ol class="article-ol-container page-ol-container">
  {% for article in article_list %}
  <small class="article-created">{{ article.pub_date|date:"M d Y" }}</small>
  <li class="article"><a class="article-title-link" href="{% url 'article-detail' article.slug %}">{{ article.title.capitalize }}</a></li><br>
  <!-- <p>Content: {{ article.content.capitalize }}</p> -->
  <!-- <p>Created on: {{ article.pub_date }}</p> -->
  <!-- <p>{{ article.slug }}</p> -->
  {% endfor %}
</ol>
<br>

{% endblock %}