{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css %}
  {% endblock %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Rajdhani:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100&family=Barlow&family=Crimson+Text&family=Source+Serif+Pro:wght@400;600&family=Domine&family=Lato&family=Merriweather&family=PT+Sans:wght@400;700&family=Raleway:wght@400;600;900&family=Poppins:wght@400;600;700&family=Roboto&family=Signika+Negative&display=swap" rel="stylesheet">
  <!-- 
  
  font-family: 'Barlow', sans-serif;
  font-family: 'Crimson Text', serif;
  font-family: 'Domine', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif; 
  font-family: 'Signika Negative', sans-serif;
  font-family: 'Source Serif Pro', serif;
  -->
  <title>{% block title %}{% endblock %}</title>
  
</head>

<body>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li id="message_{{ forloop.counter }}"
      {% if message.tags %} class="{{ message.tags }}"
        {% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
{% endif %}

  <header>
    <nav class="navbar">


      <a class="home-link" id="main-link" href="{% url 'article:index' %}"><div class="home-title">Mind Lab</div></a>
      
      <div class="nav-div-container">

        <ul class="menu">
          {% if request.user.is_authenticated %}
          <li class="nav-list">
            <a class="item1" href="{% url 'gratitude:date' year month day %}" id="gratitude-link">Gratitude<br>List</a>
          </li>
          <li class="nav-list">
            <a class="item1" href="{% url 'article:list' %}" id="journal-link">My<br>Journal</a>
          </li>
          {% endif %}
        </ul>

      </div>

      <div class="button-div">
        <!-- IF LOG IN  -->
        {% if request.user.is_authenticated %}
        <a class="item2" href="{% url 'user-profile' %}"><button class="button-first">Profile</button></a>
        <a class="item2" href="{% url 'logout' %}"><button onclick="return confirm('Are you sure you want to logout?')" class="button-first">Logout</button></a>
        
        {% else %}
        <!-- IF NOT SIGN IN  -->
        <a class="item2" href="{% url 'signup' %}">
          <button class="button-secondary">Sign Up</button>
        </a>
        <a class="item2" href="{% url 'login' %}">
          <button class="button-first">Login</button>
        </a>
        {% endif %}
      </div>
        
      
    </nav>
    </header>



  <main>
    {% block content %}
    {% endblock %}
  </main>



  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
  


  
</body>
</html>