{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css %}
  {% endblock %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Crimson+Text&family=Merriweather&family=PT+Sans&family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  
  <!-- font-family: 'Crimson Text', serif; -->
  <!-- font-family: 'Merriweather', serif; -->
  <!-- font-family: 'Poppins', sans-serif; -->
  <!-- font-family: 'PT Sans', sans-serif; -->
  <!-- font-family: 'Lato', sans-serif; -->
  
  
  <title>{% block title %}{% endblock %}</title>
</head>


<body>

  {% if messages %}

  {% for m in messages %}
  {{ m }}{{ request.user.username }}
  {% endfor %}

  {% endif %}
  <header>
    <nav>
      <li class="nav-list-first"><a id="main-link" class="item" href="{% url 'article-index' %}">INSPIRED</a></li>
    </nav>
    <nav>
      <ul class="menu">
        
        <li class="nav-list"><a href="{% url 'article-list' %}" class="item" id="article-link">Articles</a></li>
        <li class="nav-list"><a href="#" class="item" id="gratitude-link">Gratitude</a></li>
        <li class="nav-list"><a href="{% url 'quotes:index' %}" class="item" id="quote-link">Quotes</a></li>
        <li class="nav-list"><a href="{% url 'value:index' %}" class="item" id="value-link">Values</a></li>
        <!-- ADMIN -->
        {% if request.user.is_superuser %}
        <li class="nav-list"><a href="{% url 'admin:index' %}" class="item" id="admin-link">ADMIN ONLY</a></li>
        {% endif %}
      
      
      </ul>
    </nav>
    <!-- IF LOG IN  -->
    {% if request.user.is_authenticated %}
    <nav>
      <a class="item" href="{% url 'user-profile' %}"><button class="button-first">Profile</button></a>
      <a class="item" href="{% url 'logout' %}"><button onclick="return confirm('Are you sure you want to logout?')" class="button-first">Logout</button></a>
    </nav>
    <!-- IF NOT LOG IN  -->
    {% else %}
    <nav>
      <a class="item" href="{% url 'signup' %}"><button class="button-secondary">Create Account</button></a>
      <a class="item" href="{% url 'login' %}"><button class="button-first">Login</button></a>
    </nav>
    {% endif %}
  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>
  
</body>

</html>