{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css %}
  {% endblock %}
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <!-- font-family: 'PT Sans', sans-serif; -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>


<body>

  {% if messages %}

  {% for m in messages %}
  {{ m }}{{ request.user.username }}
  {% endfor %}

  {% endif %}
  <header>
    <nav>
      <ul class="menu">
        <li class="nav-list"><a class="home-link" class="item" href="{% url 'article-index' %}">INSPIRED</a></li>
        <li class="nav-list"><a href="{% url 'article-list' %}" class="item" id="article-link">Articles</a></li>
        <li class="nav-list"><a href="#" class="item" id="kind-link">Kind</a></li>
        <li class="nav-list"><a href="{% url 'quotes:index' %}" class="item" id="quote-link">Quotes</a></li>
        <li class="nav-list"><a href="{% url 'value:index' %}" class="item" id="value-link">Values</a></li>
        
        {% if request.user.is_superuser %}
        <li class="nav-list"><a href="{% url 'admin:index' %}" class="item" id="admin-link">ADMIN ONLY</a></li>
        {% endif %}
      
        <!-- {% if request.user.is_authenticated %}
      
        <li class="nav-list"><a class="nav-link" id="my-task-link" href="{% url 'user-task' request.user.pk %}">My Tasks</a></li>
        <li class="nav-list"><a class="nav-link" href="{% url 'user-profile' %}">{{ request.user.username }}</a></li>
        <li class="nav-list"><a class="nav-link" href="{% url 'logout' %}" id="logout-link">Logout</a></li>
      
        {% else %}
      
        <li class="nav-list"><a class="nav-link" href="{% url 'login' %}" id="login-link">Login</a><a class="nav-link" id="create-account-link" href="{% url 'signup' %}">| Create Account</a></li>
      
        {% endif %} -->
      
      </ul>
    </nav>
    {% if request.user.is_authenticated %}
      <nav>
        <a class="item" href="{% url 'user-profile' %}"><button class="button-first">Profile</button></a>
        <a class="item" href="{% url 'logout' %}"><button onclick="return confirm('Are you sure you want to logout?')" class="button-first">Logout</button></a>
      </nav>
    {% else %}
      <nav>
        <a class="item" href="{% url 'signup' %}"><button class="button-secondary">Create Account</button></a>
        <a class="item" href="{% url 'login' %}"><button class="button-first">Login</button></a>
      </nav>
    {% endif %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  
</body>
<!-- <script>
const home = document.querySelector('.home-link');
home.addEventListener('click', func1);
function func1()
{
alert("Hello");
}
</script> -->
</html>