{% extends 'diary/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/diary/detail.css' %}">
{% endblock %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}

<article class="article-container">
  
  <!-- <p class="article-detail-title"><span class="by"></span>{{ object.pub_date|date:"M d Y" }} <span class="slash">/</span> {{ object.title.capitalize }}</p> -->
  
  <div class="article-info-outer">
    <ul class="article-info-inner">
      <p class="article-info-title">{{ object.title }}</p>
      <div class="article-info-inside-inner">
        <li class="article-info-posted">Posted: <span class="article-info-posted-color">{{ object.pub_date|date:"M d Y" }}</span></li>
        <li class="article-info-category">Category: <span class="article-info-category-color">Personal Journal</span></li>
      </div>
    </ul>
  </div>
  <p class="article-detail-body">{{ object.body|safe }}</p>
  
</article>
  <!-- <p class="detail-pub-date">Date created: {{ object.pub_date|date:"M d Y" }}</p> -->
  
  <div class="icon-container">
    <div style="display: flex;">
      <a class="detail-article-del-btn" href="{% url 'article:delete' object.slug %}">
        <button class="icon" onclick="return confirm('Are you sure you want to delete this article?')">
          <i class="fas fa-trash-alt"></i>
        </button>
      </a>
      <a class="detail-article-edit-btn" href="{% url 'article:update' object.slug %}">
        <button class="icon">
          <i class="fas fa-pen-square"></i>
        </button>
      </a>
    </div>
    <p class="last-modified-detail">Last Modified: {{ object.modified }}</p>
    <div><a class="go-back-link" href="{% url 'article:list' %}">Go back</a></div>
    
  </div>
  

{% endblock %}