{% extends 'diary/base.html' %}
{% load static %}
<!-- Load CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
{% endblock %}
<!-- Load Page Title -->
{% block title %}Get Inspired.{% endblock %}

{% block content %}
<div class="container-1">
  <h1 class="quote-1">Keep track and Focus on the things that makes you happy.</h1>
  <li></li>
  <li></li>
</div>

<div class="container-2">
  <li></li>
  <!-- <h1 class="quote-2">Write down what you're grateful for and focus on the good things in your life.</h1>
  <li></li> -->
  <h1 class="quote-2">Train your brain to be more optimistic.</h1>
  <li></li>
</div>
<div class="container-3">
  <p class="message">Enter message here to explain more about the purpose of this website</p>
</div>
<!-- The Goal of the Website -->
<div class="plan-container">
  <li class="plan" style="border-bottom: 1px solid;">Main Page for Visiter</li>
  <li class="plan" style="border-bottom: 1px solid;">Main Page for User</li>
  <li class="plan">Allow user to write down things they are grateful for ( Add New Thing in Index Page )</li>
  <li class="plan">Random generate one thing they wrote.</li>
  <li class="plan">Notification / Email Alert</li>
  <li class="plan">Visually Comfortable </li>
  <li class="plan">So easy to use even a kid could use it.</li> 
</div>

<!-- <div class="vid-container-1">
  <li></li>
  <li><iframe id="vid-1" class="video" src="https://www.youtube.com/embed/NXQK3zgSgKY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
  <li></li>
</div> -->


{% endblock %}