{% extends 'diary/base.html' %}
{% load static %}
<!-- Load CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
{% endblock %}
<!-- Load Page Title -->
{% block title %}Get Inspired.{% endblock %}

<!-- Main Section -->
{% block content %}

<section class="main-section">
  <div>
    <div class="main-text-wrap">
      <h1 class="main-web-title">Mind Lab</h1>
      <h3 class="main-slogan">Focus on the good.</h3>
      <h4>Mind Lab makes it easy for you to keep track of good things in life.</h4>
      <div>
        <p>READY WHEN YOU ARE</p>
        <a href="{% url 'signup' %}" class="get-start--btn get-start--link">Get a free account</a>
        <div>
          <a class="already-link" href="{% url 'login' %}">Already have an account?</a>
        </div>
      </div>
      
    </div>
    <img class="pen" src="{% static 'images/pen-bg.jpg' %}" alt="pencil background">
  </div>
</section>

<section class="orange-section">
  <div class="orange-container">
    <h2 class="orange-bg-title">Wait.. what is Mind LAB?</h2>
    <p class="orange-bg-text">Mind Lab is a platform built to help you focus on what matters most to you.</p>
    
    
    
  </div>   
</section>

<section class="new-section">
  <div class="new-text-wrapper">
    <h4 class="new-text">Don't know how?</h4>
    <h4 class="new-text">Get a flexible rental with Lyft Express Drive</h4>
  </div>
  <div class="new-icon-container">
    <ul class="new-icon-list">
      <li class="new-icon-item">
        <i class="las la-otter"></i>
        <div class="new-icon-text-wrapper">
          <p class="new-icon-title">Gratitude List</p>
          <p class="new-icon-text">Let gratitude change you and your brain.</p>
        </div>
      </li>
      <li class="new-icon-item">
        <i class="las la-otter"></i>
        <div class="new-icon-text-wrapper">
          <p class="new-icon-title">Journal</p>
          <p class="new-icon-text">Capture & Visualize ideas, recording your experience and feelings, self reflection and more..</p>
        </div>
      </li>
      <li class="new-icon-item">
        <i class="las la-otter"></i>
        <div class="new-icon-text-wrapper">
          <p class="new-icon-title">More to come</p>
          <p class="new-icon-text">Now you can do it all in one place.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="last-div">
    <p class="last-div-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quo, quis perspiciatis cum ratione alias minus veritatis amet tempora esse.</p>
  </div>
</section>




<div>
  <!-- <h2 class="platform">Your platform, that it.</h2> -->
</div>

<section class="second-new-section">
  <div>
    <h2 class="feat-title">Benefits</h2>
   
    <ul>
      <li>
        <i class="fas fa-dollar-sign"></i>
        <h3>Earn with your mind.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laborum dignissimos illo et.</p>
      </li>
      <li>
        <i class="fas fa-brain"></i>
        <h3>You become what you feed your mind.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laborum dignissimos illo et.</p>
      </li>
      <li>
        <i class="fas fa-lightbulb"></i>
        <h3>Happiness is a choice.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laborum dignissimos illo et.</p>
      </li>
    </ul>
  </div>
</section>





<section class="blue-section">
  <div class="blue-container">
    <h2 class="blue-bg-title">Why Inspire Works?</h2>
    <h2 class="blue-bg-text">Inspire can help you refocus on what you have instead of what you lack. Write down few things you're grateful for each day will increase your awareness on the positive outcome and never again lose sight of the all the things you care for. gratitude is essential for Happiness.</h2>
    <a href="#">Learn more.</a>
  </div>
</section>


<div class="platform-container">
  <h2 class="platform">Your platform, that it.</h2>
</div>

<div class="double-white-container">
  <ul class="no-list title-test title-test-2">
    <li class="no-item">No Spam.</li>
    <li class="no-item">No Program</li>
    <li class="no-item">No Coaching</li>
    <li class="no-item">No Junk</li>
  </ul>
  
</div>









<section class="bg-black bg-color">
  <div class="split simplicity-div">
    <div>
      <img class="design" src="{% static 'images/design.svg' %}" alt="">
    </div>
    <div class="bg-color-text-wrapper">
      <h2 class="bg-color-header">Simplicity</h2>
      <p class="bg-color-msg">It's that simple even a kid could use it.</p>
    </div>
    
  </div>
</section> 

<section class="bg-red bg-color">
  <div class="split responsive-div">
    <div class="bg-color-text-wrapper responsive-text-wrapper">
      <h2 class="bg-color-header bg-grey-header">Responsive Design.</h2>
      <p class="bg-color-msg responsive-msg">Different Devices. Same Experience.</p>
    </div>
    <div class="icon-container">
      <div>
        <img class="responsive" src="{% static 'images/responsive.svg' %}" alt="">
      </div>
    </div>
  </div>
</section>    
<section class="bg-green bg-color">
  <div class="split traveling-div">
    <div class="icon-container">
      <div>
        <img class="traveling" src="{% static 'images/traveling.svg' %}" alt="">
      </div>
    </div>
    <div class="bg-color-text-wrapper">
      <h2 class="bg-color-header bg-white-header">Instant Access.</h2>
      <p class="bg-color-msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    
  </div>
</section>  

{% endblock %}
