{% extends 'diary/base.html' %}
{% load static %}
<!-- Load CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock %}
<!-- Load Page Title -->
{% block title %}Journal{% endblock %}

{% block content %}

<!-- Article List View Title -->

<div class="art-banner-container1">
  <div class="head-container">
    <h4 class="type">Journal</h4>
    <h1 class="head-title">Better than, yesterday</h1>
    <h6 class="head-detail">By Mathew Ho on <span class="head-detail-date">{% now "l, d F Y" %}</span></h6>
  </div>
  <!-- <div class="msg-container">
    <p class="banner-msg">What is your story today?</p>
  </div> -->
</div>



<!-- Create New Article  -->
<a class="article-create create-link" href="{% url 'article:create' %}"><button class="create-button"><span>New</span></button></a>

<!-- Print out all article -->



<div class="article-wrapper">
  {% if article_list %}
  
  <ol class="article-ol-container">
    <p class="latest-entry-title">Latest journal entries</p>
    <!-- <h1 class="article-container-title">What is your story today?</h1> -->
    {% for article in article_list %}
  
  <li class="article-list">
    <a class="article-link" href="{% url 'article:detail' article.slug %}">{{ article.title.capitalize }}</a><br>
    <!-- <a href="{% url 'article:update' article.slug %}">Update</a> -->
    
    <div style="display: inline-block; margin-left: 5px;">
      <small class="article-pub">{{ article.pub_date|date:"D. M d Y" }}</small>
    {% if article.category.get_name_display == "Article" %}
      <small class="cate cate-article">{{ article.category.get_name_display }}</small>
    {% elif article.category.get_name_display == "Creativity" %}
      <small class="cate cate-creativity">{{ article.category.get_name_display }}</small>
    {% elif article.category.get_name_display == "Diary" %}
      <small class="cate cate-diary">{{ article.category.get_name_display }}</small>
    {% elif article.category.get_name_display == "Journal" %}
      <small class="cate cate-journal">{{ article.category.get_name_display }}</small>
    {% else %}
      <small class="cate cate-knowledge">{{ article.category.get_name_display }}</small>
    {% endif %}
    </div>  

    <!-- <p>{{ article.category.get_name_display }}</p>  -->
    
    
  </li>
  

    {% endfor %}
  </ol>
  {% else %}
  <p>There are no articles present.</p>
  {% endif %}
</div>
<br>

{% endblock %}

{% block footer %}
<script>
  var message_ele = document.getElementByClassName('messages');
  setTimeout(function(){
    message_ele.style.display = "none"
  
  }, 3000);
  
</script>
{% endblock %}