{% extends 'diary/base.html' %}
{% load static %}
<!-- Load CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/diary/list.css' %}">
{% endblock %}
<!-- Load Page Title -->
{% block title %}Your Writings – Mind Lab {% endblock %}

{% block content %}

<!-- Article List View Title -->

<div class="art-banner-container1">
  <div class="head-container">
    <h4 class="type">Journal</h4>
    <h1 class="head-title">Better than, yesterday</h1>
    <h6 class="head-detail">By Mathew Ho on <span class="head-detail-date">{% now "l, d F Y" %}</span></h6>
  </div>
</div>


<!-- Create New Article  -->



<!-- Print out all article -->
<div class="article-wrapper">
  
  
  
  <ol class="article-ol-container">
    
    
    <!-- <h1 class="article-container-title">What is your story today?</h1> -->
  {% if article_list %}
    <p class="latest-entry-title"><i class="las la-coffee"></i>Latest entries</p>
    <a class="article-create-link" href="{% url 'article:create' %}"><button class="create-button"><span>New</span></button></a>
    {% for article in article_list %}
  
    <li class="article-list">
      <a class="article-link" href="{% url 'article:detail' article.slug %}">{{ article.title.capitalize }}</a><br>
      <!-- <a href="{% url 'article:update' article.slug %}">Update</a> -->
      
      <div>
        <small class="article-pub">{{ article.pub_date|date:"D. M d Y" }}</small>
      {% if article.category.get_name_display == "Article" %}
        <small class="cate cate-article">{{ article.category.get_name_display }}</small>
      {% elif article.category.get_name_display == "Creativity" %}
        <small class="cate cate-creativity">{{ article.category.get_name_display }}</small>
      {% elif article.category.get_name_display == "Diary" %}
        <small class="cate cate-diary">{{ article.category.get_name_display }}</small>
      {% elif article.category.get_name_display == "Journal" %}
        <small class="cate cate-journal">{{ article.category.get_name_display }}</small>
      {% else %}
        <small class="cate cate-knowledge">{{ article.category.get_name_display }}</small>
      {% endif %}
      </div>  
      
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="first" href="?page=1">&laquo; first</a>
                <a class="previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a class="next" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
      
    </li>

    {% else %}
    
    <div class="second-create-container">
      <div>
        <i class="las la-pen-alt"></i>
      </div>
      <p class="second-create-container-title">Write your first story</p>
      <p class="second-create-container-msg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ratione.</p>
      <div>
        <a class="learn-more-link" href="{% url 'article:learn-more' %}">Learn more <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
      <form action="{% url 'article:create' %}" method="POST">
        {% csrf_token %}
        <input class="write-story-btn" type="submit" value="Write a story">
      </form>
    </div>
    
  </ol>
  
  
  {% endif %}
  
</div>
<br>

{% endblock %}

{% block footer %}
<script>
  var message_ele = document.getElementByClassName('messages');
  setTimeout(function(){
    message_ele.style.display = "none"
  
  }, 3000);
  
</script>
{% endblock %}