.topic-ul-container{
  margin-left: 20px;
  margin-top: 10px;
  list-style-type: none;
}

.topic-li{
  border-bottom: 1px solid rgba(0, 10, 25, .4);
  color: rgba(0, 10, 25, 1);
  margin: 20px 0px;
  width: 25%;
}
.topic-link{
  text-decoration: none;
  text-transform: capitalize;
  
  color: inherit;
  font-size: 1.7em;
  text-transform: capitalize;
}
