*{
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
}

body{
  background-color: rgb(253, 250, 246);
  
}

.header-container{
  /* background-color: yellow; */
}

.topic-header{
  font-family: 'Merriweather', serif;
  
  color: black;
  font-weight: bold;
  font-size: 1.4em;
  margin: 25px 15px;
  text-transform: capitalize;
}

.topic-ul-container{
  margin-left: 20px;
  margin-top: 10px;
  list-style-type: none;
}

.topic-li{
  border-bottom: 1px solid black;
  color: rgb(0, 10, 25);
  margin: 20px 0px;
  width: 25%;
}
.topic-link{
  text-decoration: none;
  text-transform: capitalize;
  
  color: inherit;
  font-size: 1.7em;
  text-transform: capitalize;
}

.topic-link:hover{
  color: green;
}