@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
body{
  background-color: #eee;
}
main {
  margin-top: 2rem;
  color: #222;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.day-link{
  white-space: nowrap;
  color: #2A6655;
  padding: 0 20px;
  text-decoration: none;
}

.gratitude-color-bg-outer{
  background: hsl(169, 100%, 40%);
  background: #81b5a6;
  max-width: 100vw;
  padding: 1rem 7.5%;
}

.create-form{
  margin: 0 auto;
  position: relative;
  display: flex;
  transition: transform 200ms ease-in-out;
}

#id_title{
  color: hsl(0, 19%, 18%);
  font-size: 1.8rem;
  background:#eee;
  padding: .5rem 1rem;
  width: 80%;
  border-radius: 4px;
  border: none;
  transition-duration: 150ms;
  transition-property: border-color, background-color;
  transition-timing-function: ease-in-out;
}

#id_title:focus{
  outline: none !important;
  /* border-color: rgb(132, 211, 200); */
}
#id_title:required{
  box-shadow: none !important;
}
#id_title:invalid{
  box-shadow: none !important;
}
.submit-btn{
  font-family: 'Caveat', cursive;
  font-weight: 700;
  margin-left: 5px;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  width: 20%;
  padding: 1rem;
  background-color: hsl(169, 100%, 44%);
  opacity: .85;
  transition-duration: 150ms;
  transition-property: background-color, border-color;
  transition-timing-function: ease-in-out;
}
.submit-btn:hover{
  background-color: hsl(169, 100%, 42%);
  
}
.submit-btn:active{
  opacity: .85;
}
.la-plus{
  font-size: 1.4em;
  color: white;
  transition: color 150ms ease-in-out;
}
.days-container{
  display: flex;
  justify-content: space-between;
}
.days-container > a {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Caveat', cursive;
  width: 70px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  color: #fff;
  background-color: #333;
  padding: .5rem 1rem;
  border-radius: 4px;
  transition: transform 100ms ease-in-out;
}

.days-container > a:hover {
  opacity: .85;
}
.gratitude-ul{
  list-style: decimal;
  margin: 0 auto;
  padding: 4em 2em 1em;
  padding-bottom: 10rem;
}
.date-wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.date-date{
  font-size: 4rem;
  font-weight: 500;
  margin-right: 4px;
  display: inline-block;
}
.date-month{
  font-weight: 600;
  text-align: left;
}
.date-year{
  letter-spacing: 3.7px;
}
.date-month, .date-year{
  font-size: 1.5rem;
  margin: 0;
}
.flex{
  display: flex;
}
.date_and_streak_container{
  border: 2px solid black;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #888;
  padding: 1rem 0;
}
.streak{
  color: hsl(169, 100%, 44%);
}
.list-title{
  color: rgb(80, 80, 80);
  margin: 4rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .96px;
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fde481;
  transition: color 200ms ease-in-out;
}
.list-title:hover{
  color: rgb(30, 30, 30);
}

.list-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  border: none;
  border-radius: 4px;
  background-color: #fdfdfd;
  box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.delete-link{
  align-self: center;
}
.la-angle-right, 
.la-times-circle, 
.fa-ellipsis-v, 
.gratitude-item-time-created,
.test-streak,
.test-total
{
  color: #a3a3a3;
}
.la-times-circle{
  align-self: center;
}
.la-times-circle:hover{
  color: maroon;
}

.gratitude-item{
  font-size: 1.4rem;
  display: inline-block;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
/* Capitalize the first letter of every gratitude list entry */
.gratitude-item::first-letter{
  text-transform: uppercase;
}
.gratitue-item:first-of-type{
  margin-top: 2.5rem;
}
.gratitude-item::first-letter{
  text-transform: capitalize;
}
.gratitude-item-time-created, 
.fa-ellipsis-v{
  transition: color 100ms ease-in-out;
}
.gratitude-item-time-created:hover, 
.fa-ellipsis-v:hover{
  color: black;
  cursor: pointer;
}
.gratitude-item-time-created{
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}
.gratitude-item-edit-link{
  cursor: pointer;
  align-self: center;
  position: absolute;
  right: 2rem;
  text-decoration: none;
}

.delete-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.fa-times{
  font-size: 1.6rem;
  opacity: .75;
}

/* Message if the page does not have any gratitude list entry yet */
.idea-title{
  color: #81B5A6;
  font-weight: 600;
  font-size: 1.4rem;
}
.test-test{
  text-align: right;
}
.idea-form{
  margin: 5rem;
  padding: 1rem;
  text-align: center;
}
.idea-btn{
  font-family: Inter, sans-serif;
  background-color: rgb(84, 105, 212);
  color: #fff;
  cursor: pointer;
  padding: .5em 2em;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
}

@media only screen and (min-width: 750px) {
  
  .gratitude-color-bg-outer, .gratitude-ul{
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  
  .submit-btn{
    width: 20%;
    font-size: 1.25rem;
  }
  #id_title{
    width: 80%;
  }
  
  .gratitude-item{
    padding-top: 0rem;
    padding-bottom: 0rem;
    
  }
  .gratitude-item > p {
    margin: 0;
    font-size: 1rem;
  }
  .days-container > a{
    font-size: 1rem;
    padding: 1rem 3rem;
    text-align: center;
  }
  .list-title{
    font-size: 1.4rem;
  }
  .gratitude-item-time-created{
    font-size: .8rem;
    /* display: block; */
  }
}

@media only screen and (min-width: 1000px) {
  .gratitude-color-bg-outer{
    padding-left: 15%;
    padding-right: 15%;
  }
  .gratitude-ul{
    padding-left: 25%;
    padding-right: 25%;
  }
  
}