:root{
  font-size: 62.5%;
}
html{
  color: #333;
}
form{
  width: 90vw;
  margin: 20rem auto 0;
  text-align: center;
}
.warning{
  font-weight: 600;
  font-size: 1.4rem;
}
.confirm-btn{
  padding: 1rem 3rem;
  background-color: #d74f4f;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}
.confirm-btn:hover{
  cursor: pointer;
}
a{
  color: inherit;
  padding-left: 1rem;
}
.gratitude-content{
  font-weight: 400;
  font-size: 2rem;
  padding: 0 1rem;
}
@media only screen and (min-width: 750px){
  :root{
    font-size: 100%;
  }
}