@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
body{
  background-color: #eee;
  margin-top: 2rem;
  color: #222;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.ideas-msg{
  display: block;
  width: 500px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 2rem 0 ;
  color: #878787;
}
