@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
/* 
font-family: 'Caveat', cursive;
 */
main {
  margin-top: 2rem;
  color: #222;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.create-form{
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform 200ms ease-in-out;
}

#id_title{
  color: hsl(0, 19%, 18%);
  font-size: 1.4rem;
  padding: 1rem;
  width: 80%;
  border: 3px solid #333;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition-duration: 150ms;
  transition-property: border-color;
  transition-timing-function: ease-in-out;
}
#id_title:hover{
  background:#f9f9f9;
}
#id_title:focus{
  outline: none !important;
  border-color: rgb(132, 211, 200);
}
#id_title:required{
  box-shadow: none !important;
}
#id_title:invalid{
  box-shadow: none !important;
}
.submit-btn{
  font-family: 'Caveat', cursive;
  font-weight: 700;
  color: white;
  border-color: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 20%;
  padding: 1rem;
  background-color: #333;
  transition-duration: 150ms;
  transition-property: background-color, border-color;
  transition-timing-function: ease-in-out;
}
.submit-btn:hover{
  background-color: #111;
  
}
.submit-btn:active{
  opacity: .85;
}
.la-plus{
  font-size: 1.4em;
  color: white;
  transition: color 150ms ease-in-out;
}
.days-container{
  display: flex;
  justify-content: space-between;
}
.days-container > a {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Caveat', cursive;
  width: 70px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  color: #fff;
  background-color: #333;
  padding: .5rem 1rem;
  border-radius: 4px;
  transition: transform 100ms ease-in-out;
}

.days-container > a:hover {
  opacity: .85;
}
.gratitude-ul{
  list-style: decimal;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-bottom: 10rem;
  /* background-color: white; */
  
}
.date-wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.date-date{
  font-size: 4rem;
  font-weight: 500;
  margin-right: 4px;
  display: inline-block;
}
.date-month{
  font-weight: 600;
  text-align: left;
}
.date-year{
  letter-spacing: 3.7px;
}
.date-month, .date-year{
  font-size: 1.5rem;
  margin: 0;
}
.flex{
  display: flex;
}
.date_and_streak_container{
  justify-content: space-between;
  font-size: 1.25rem;
  color: #888;
  padding: 1rem 0;
}

.list-title{
  color: rgb(80, 80, 80);
  margin: 4rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .96px;
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fde481;
  transition: color 200ms ease-in-out;
}
.list-title:hover{
  color: rgb(30, 30, 30);
}

.list-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  border: none;
  border-radius: 2px;
  background-color: #fdfdfd;
  box-shadow: -5px 7px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}
.la-angle-right{
  align-self: center;
}

.la-angle-right, .fa-ellipsis-v, .gratitude-item-time-created{
  color: #a3a3a3;
}

.gratitude-item{
  font-size: 1.4rem;
  display: inline-block;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
/* Capitalize the first letter of every gratitude list entry */
.gratitude-item::first-letter{
  text-transform: uppercase;
}
.gratitue-item:first-of-type{
  margin-top: 2.5rem;
}
.gratitude-item::first-letter{
  text-transform: capitalize;
}
.gratitude-item-time-created, .fa-ellipsis-v{
  transition: color 100ms ease-in-out;
}
.gratitude-item-time-created:hover, .fa-ellipsis-v:hover{
  color: black;
  cursor: pointer;
}
.gratitude-item-time-created{
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}
.gratitude-item-edit-link{
  cursor: pointer;
  align-self: center;
  position: absolute;
  right: 2rem;
  text-decoration: none;
}

.delete-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.fa-times{
  font-size: 1.6rem;
  opacity: .75;
}

/* Message if the page does not have any gratitude list entry yet */
.no-entry-msg{
  font-size: 2.5rem;
  /* padding-left: 15rem; */
  text-align: center;
}


@media only screen and (min-width: 750px) {
  .create-form{
    padding-left: 10%;
    padding-right: 10%;
  }
  .submit-btn{
    width: 10%;
    font-size: 1.25rem;
  }
  #id_title{
    width: 90%;
  }
  .gratitude-ul{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .gratitude-item{
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 1.1rem;
  }
  .days-container > a{
    font-size: 2rem;
    width: 100px;
  }
  .list-title{
    font-size: 1.4rem;
  }
  .gratitude-item-time-created{
    font-size: .8rem;
    /* display: block; */
  }
}

@media only screen and (min-width: 1000px) {
  .gratitude-ul{
    padding-left: 10rem;
    padding-right: 10rem;
  }
}