main {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
.date-page-header{
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  margin-top: 5rem;
  letter-spacing: 0.08rem;
}
body main ul {
  list-style: decimal;
  border-top: 5px solid #dfc970;
  width: 50vw;
  margin: 0 auto;
}
body main li:first-of-type{
  margin-top: 2.5rem;
}
body main li {
  font-size: 1.2rem;
  padding: 2em 1em;
  border-bottom: 1px solid rgb(240, 240, 240);
  
  
}