main {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
form{
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
.days-container > a {
  display: block;
  text-decoration: none;
  color: rgb(0, 124, 201);
  padding-bottom: 2px;
}
.days-container > a:hover {
  text-decoration: underline;
}
.days-container{
  display: flex;
  justify-content: space-evenly;
}
label, input{
  display: block;
}
.title-label{
  margin-top: 4rem;
  margin-bottom: .4rem;
  font-size: 1.1rem;
  
}
#id_title{
  font-size: 1.1rem;
  padding: 1.25rem 1.5rem;
  width: 50vw;
  border-radius: 35px;
  border: 2px solid rgba(16, 143, 221, .7);
  outline: none;
  margin-bottom: 1rem;
}

.submit-btn{
  padding: .5em 2em;
  border: none;
  border-radius: 9999px;
  background-color: rgb(29, 161, 242);
  transition-duration: 150ms;
  transition-property: background-color, transform;
  transition-timing-function: ease-in-out;
  position: absolute;
  right: 0;
}
.submit-btn:hover{
  background-color: rgb(13, 135, 211);
  transform: scale(1.1);
}

.la-plus{
  font-size: 1.6rem;
  color: white;
}

body main ul {
  list-style: decimal;
  margin: 0 auto;
  padding: 0 5rem;
  padding-left: 15%;
}
body main li:first-of-type{
  margin-top: 2.5rem;
}
body main li {
  font-size: 1.15rem;
  /* padding: 1.25em 1em; */
  padding-bottom: 2em;
  padding-left: 2.5em;
  
}
.gratitude-item::first-letter{
  text-transform: capitalize;
}
.gratitude-item > a {
  text-decoration: none;
  color: inherit;
}
.gratitude-item > a:hover {
  text-decoration: underline;
}
.delete-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.fa-times{
  font-size: 1.6rem;
  opacity: .75;
}
.list-title{
  border-bottom: 5px solid#fde481;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  display: inline-block;
  padding-bottom: 1rem;
}
.date-wrap{
  display: flex;
  align-items: center;
}

.date-date{
  font-size: 3rem;
  font-weight: 500;
  margin-right: 4px;
}
.date-month{
  font-weight: 600;
}
.date-month, .date-year{
  margin: 0;
}
