main {
  margin-top: 2rem;
  color: #222;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
/* .gratitude-color-bg-container{
  height: 35vh;
  background-color: rgb(245, 245, 245);
} */
.create-form{
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}
#id_title{
  color: hsl(0, 0%, 20%);
  font-size: 1.4rem;
  padding: 1rem;
  width: 80%;
  border: 3px solid rgba(71, 145, 131, 1);
  border-color: #333;
  border-right: none;
  outline: none !important;
}
#id_title:focus{
  border-color: #000;
  outline: none !important;
}
#id_title:required{
  box-shadow: none !important;
}
#id_title:invalid{
box-shadow: none !important;
}
.submit-btn{
  border: none;
  width: 20%;
  padding: .7rem 1.1rem;
  background-color: #333;
  transition-duration: 50ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}
.submit-btn:hover{
  background-color: #222;
}
.la-plus{
  font-size: 1.4em;
  color: white;
  transition: color 150ms ease-in-out;
}
.days-container{
  display: flex;
  justify-content: space-between;
}
.days-container > a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
.days-container > a:hover {
  text-decoration: underline;
}
.gratitude-ul{
  list-style: decimal;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 15rem;
  /* background-color: white; */
  
}
.date-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-date{
  font-size: 4rem;
  font-weight: 500;
  margin-right: 4px;
  display: inline-block;
}
.date-month{
  font-weight: 600;
  text-align: left;
}
.date-year{
  letter-spacing: 3.7px;
}
.date-month, .date-year{
  font-size: 1.5rem;
  margin: 0;
}
.list-title{
  color: rgb(80, 80, 80);
  margin: 4rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .96px;
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fde481;
  transition: color 200ms ease-in-out;
}
.list-title:hover{
  color: rgb(30, 30, 30);
}
.streak-count{
  color: maroon;
}
.list-container{
  display: flex;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}
.la-angle-right{
  align-self: center;
}
.gratitude-item{
  font-size: 1.1rem;
  display: inline-block;
  padding: 1rem;
}
/* Capitalize the first letter of every gratitude list entry */
.gratitude-item::first-letter{
  text-transform: uppercase;
}
.gratitue-item:first-of-type{
  margin-top: 2.5rem;
}
.gratitude-item::first-letter{
  text-transform: capitalize;
}
.gratitude-item > a {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .96px;
  line-height: 1.4;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.gratitude-item > a:hover{
  color: black;
}

.gratitude-item-time-created{
  margin: 0;
  font-size: 1rem;
  opacity: .6;
}
.delete-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.fa-times{
  font-size: 1.6rem;
  opacity: .75;
}

/* Message if the page does not have any gratitude list entry yet */
.no-entry-msg{
  font-size: 2.5rem;
  /* padding-left: 15rem; */
  text-align: center;
}


@media only screen and (min-width: 750px) {
  .create-form{
    padding-left: 10%;
    padding-right: 10%;
  }
  .submit-btn{
    width: 10%;
  }
  #id_title{
    width: 90%;
  }
  .gratitude-ul{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .days-container > a, .gratitude-item > a{
    font-size: 1.2rem;
  }
  .list-title{
    font-size: 1.4rem;
  }
  .gratitude-item-time-created{
    font-size: .8rem;
    /* display: block; */
  }
}

@media only screen and (min-width: 1000px) {
  .gratitude-ul{
    padding-left: 10rem;
    padding-right: 10rem;
  }
}