{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <title>Get Started | Mind Lab</title>
  
</head>
<body>
  <header>

  </header>
  <main>
    <div class="big-wrap">

      <div class='text-wrap'>
        <h1 class="text-title">Inspire</h1>
        <!-- <h2 class="text-msg">Inspire helps you connect and share with the people in your life.</h2> -->
        <p class="text-msg">The best time to start is now.</p>
      </div>
      

      <div class="form-wrap">
        <div>
          <i class="fas fa-user-alt"></i>
        </div>
        <h2 class="form-title">Start your free journal of Inspire</h2>
        
        <form class="form-box" method="post" action="{% url 'signup' %}">{% csrf_token %}
          {% if form.errors %}
            <p>{{ form.errors }}</p>
          {% endif %}
          <div class="field-wrap">
            <!-- <p class="username-label form-label">{{ form.username.label_tag }}</p> -->
            {{ form.username }}
          </div>
          <div class="field-wrap">
            <!-- <p class="email-label form-label">{{ form.email.label_tag }}</p> -->
            {{ form.email }}
          </div>
          <div class="field-wrap">
            <!-- <p class="password1-label form-label">{{ form.password1.label_tag }}</p> -->
            {{ form.password1 }}
          </div>
          <div class="field-wrap">
            <!-- <p class="password2-label form-label">{{ form.password2.label_tag }}</p> -->
            {{ form.password2 }}
          </div>
    
          <div class='name-wrap'>
            <!-- <p class="fname-label form-label">{{ form.first_name.label_tag }}</p> -->
              {{ form.first_name }}
            <!-- <p class="lname-label form-label">{{ form.last_name.label_tag }}</p> -->
              {{ form.last_name }}
          </div>
          
          <a class="already" href="{% url 'login' %}">Already Member?</a>
          <button class="register-btn" type="submit">Register</button>
                  
          <div class="cc-container">
            <p class="no-cc-required">No credit card & payment required.</p>
          </div>
          
          <!-- <input type="submit" value="Create"> -->
        </form>
      </div>
    </div>
  </main>
  <footer>
    <script>
      document.getElementById('id_username').setAttribute('placeholder', "Username")
      document.getElementById('id_email').setAttribute('placeholder', "Email address")
      document.getElementById('id_password1').setAttribute('placeholder', "Password")
      document.getElementById('id_password2').setAttribute('placeholder', "Confirmation Password")
      document.getElementById('id_first_name').setAttribute('placeholder', "First name")
      document.getElementById('id_last_name').setAttribute('placeholder', "Surname")
    </script>
  </footer>
</body>
</html>