*{
  margin: initial;
  padding: initial;
}

.value-header{
  margin: 25px 5px;
}

.value-title{
  font-weight: bold;
  color: rgb(65, 65, 65);
  font-size: 1.7em;
  margin-left: 5px;
  margin-bottom: 15px;
}

.value-data{
  text-decoration: none;
  margin-left: 120px;
  margin-bottom: 5px;
  font-size: 20px;
}