/* 320px — 480px: Mobile devices */
/* 481px — 768px: iPads, Tablets */
/* 769px — 1024px: Small screens, laptops */
/* 1025px — 1200px: Desktops, large screens */
/* 1201px and more —  Extra large screens, TV */
:root{
  font-size: 62.5%;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
html {
  display: block;
  min-width: 100%;
  margin: 0;
  overflow-x: hidden;
}
body { 
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #000;  
  /* background: #fbfbfd; */
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: calc(100% - 10px);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.8em;
}
body::-webkit-scrollbar-track {
  background-color: rgb(235, 235, 235);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}
.messages{
  
  list-style: none;
  background-color: #000;
  color: #fff;
  margin: 0 0;
  padding: 1rem;
}
.header-outer{
  max-width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 70px;
  background: #fbfbfd;
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.3);
}
.header-inner{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-container{
  width: auto;
  display: flex;
  justify-content: space-between;
  
}
.nav-container > a {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  /* text-transform: uppercase; */
  color: #000;
  
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.nav-container > a:not(:first-child){
  margin-left: 3rem;
}
.header-inner a:hover{
  text-decoration: none;
}
.header-inner a:hover::after{
  transform: scaleX(1);
}
.header-inner a::after{
  transition: 250ms ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

.fa-lock{
  font-size: .8rem;
  padding-right: 2px;
}

#home-link{
  display: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  white-space: nowrap;
  color: #222;
}
#signup-link{
  color: hsl(16, 83%, 55%);
}


    @media all and (min-width:750px){
      :root {
        font-size: 100%;
      }
      .header-outer{
        height: 110px;
      }
      .nav-container > a:not(:first-child){
        margin-left: 5rem;
      }
      
    }
    @media only screen and (min-width: 1000px){
      .header-outer{
        padding: 0 10rem;
      }
      .nav-container > a:not(:first-child){
        margin-left: 10rem;
      }
    }