* {
  box-sizing: border-box;
}
form{
  min-width: 100vw;
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: #fafafa;
}
#id_category{
  padding: 0.5rem 1rem;
  color: #fff;
}
#id_title{
  font-size: 3.75rem;
  padding: 1rem 0;
  margin: 2rem 0;
  border: none;
  background-color: transparent;
  color: #555;
  width: 75%;
  display: block;
  transition: background-color 100ms ease-in-out;
}
#id_title:hover{
  background-color: #f2f2f2;
}
#id_title:focus{
  outline: none;
}
#id_title:required{
  box-shadow: none !important;
}
#id_title:invalid{
  box-shadow: none !important;
}
.django-ckeditor-widget, #cke_id_body{
  width: 100%;
  border: none;
}
#cke_id_body{
  background-color: #111;
}
#cke_1_top{
  opacity: .5;
  border: none;
}
#cke_1_top:hover{
  opacity: 1;
}
#cke_1_bottom{
  display: none;
}
.article-submit-btn{
  background-color: rgb(84, 105, 212);
  display: block;
  color: #fff;
  font-size: 1rem;
  padding: 1.5rem 4rem;
  opacity: .9;
  border-radius: 3px;
  border: none;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.article-submit-btn:hover{
  opacity: 1;
  outline: none !important;
  box-shadow: none !important;
}


  @media only screen and (min-width: 750px){
    form{
      position: absolute;
      left: 5%;
      margin-right: 5rem;
    }
  }
      @media only screen and (min-width: 1000px){
        form{
          left: 10%;
        }
      }