body{
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: #444;
}
.slash{
  opacity: .25;
}
.article-container{
  font-size: 1.4rem;
  margin-top: 2rem;
  padding: 3rem;
  font-weight: 300;
}

.article-info-inner{
  padding-left: 0;
  list-style: none;
}
.article-info-title{
  font-size: 2rem;
  font-weight: 700;
}
.article-info-inside-inner{
  display: flex;
  justify-content: space-between;
}
.article-info-posted, .article-info-category{
  font-size: .8rem;
  letter-spacing: .2px;
  line-height: 22px;
}
.article-info-posted-color, .article-info-category-color{
  color: #67A872;
}
.article-container > p {
  font-family: 'Crimson Text', serif;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.3rem;
}
.article-container > p.article-detail-title {
  font-size: 2rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 2.5rem;
}
.article-detail-body{
  font-family: 'Crimson Text', serif;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  line-height: 1.6;
  width: 60ch;
}
.icon-container{
  color: #fff;
  text-align: right;
  background-color: #444;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-article-edit-btn, .detail-article-del.btn{
  display: block;
}
.icon{
  border: none;
  background-color: inherit;
}
.fa-pen-square, .fa-trash-alt{
  color: #fff;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
}
.fa-pen-square:hover, .fa-trash-alt:hover {
  opacity: .75;
}
.fa-pen-square:active, .fa-trash-alt:active {
  color: #aaa;
}
.last-modified-detail{
  color: #fff;
  font-size: .8rem;
}
.go-back-link{
  color: #fff;
  text-decoration: none;
}
.grid-wrapper{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border: 1px solid black;
  height: 200px;
}

    @media all and (min-width: 750px){
      :root{
        font-size: 100%;
      }
      .article-container{
        width: 60ch;
        margin: 0 auto;
        /* margin-top: 2rem; */
        /* min-height: 50vh; */ 
      }
      .article-container > p {
        font-size: 1.1rem;
        
      }
      .article-container > p.article-detail-title{
        font-size: 2.2rem;
      }
      
    }

    @media only screen and (min-width: 1000px){
      .article-container > p {
        font-size: 1rem;
      }
    }



