{% extends 'diary/base.html' %}
{% load static %}
  {% block title %}Inspired. | Values{% endblock  %}
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/values.css' %}">
  {% endblock %}
  {% block content %}
  <h2 class="value-header">What Are My Values In Life?</h2>
  <div>
    <dl>
      <dt class="value-title">Physical Health</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
      <dt class="value-title">Mental Health</dt>
        <dd class="value-data"><a href="#" class="value-link"></a>Peace</dd>
        <dd class="value-data"><a href="#" class="value-link"></a>Optimism</dd>
        <dd class="value-data"><a href="#" class="value-link"></a>Ego</dd>
        <br><br>
      <dt class="value-title">Family</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
      <dt class="value-title">Money</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
      <dt class="value-title">Career</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
      <dt class="value-title">Friends</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
      <dt class="value-title">Education Goals</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
      <dt class="value-title">Time Outside Of Work</dt>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <dd class="value-data"><a href="#" class="value-link"></a></dd>
        <br><br>
    </dl>
  </div>
  {% endblock %}
