{% extends 'diary/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/value_index.css' %}">
{% endblock %}
{% block title %}Value - Index{% endblock %}

{% block content %}
  <div class="header-container">
    <h2 class="topic-header">Always live your life according to your values</h2>
  </div>
  {% for cat in category %}
  <ul class="topic-ul-container">
    <li class="topic-li"><a class="topic-link" href="http://127.0.0.1:8000/value/{{ cat.name }}/">{{ cat.name }}</a></li>
  </ul>
  {% endfor %}
  
{% endblock %}