{% extends 'diary/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'gratitude/date.css' %}">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
  
  <div class="days-container">
    <a href="{% url 'gratitude:date' yesterday.year yesterday.month yesterday.day %}">Previous Day</a>
    <a href="{% url 'gratitude:date' today.year today.month today.day %}">TODAY.</a>
    <a href="{% url 'gratitude:date' tomorrow.year tomorrow.month tomorrow.day %}">Next Day</a>
  </div>
  <!-- <label class="title-label" for="id_title">What do you feel grateful for?</label> -->
  {{ form.title }}
  <button class="submit-btn" type="submit"><i class="las la-plus"></i></button>
</form>

  {% if todays_list %}
    <ul>
      
      <div class='date-wrap'>

        <div class="date-container-1">
          <p class="date-date">{{ custom_page_date.day }}</p>
        </div>

        <div class="date-container-2">
          <p class="date-month">{{ custom_page_date.month }}</p>
          <p class="date-year">{{ custom_page_date.year }}</p>
        </div>

      </div>

      <h2 class="list-title">Gratitude List</h2>
      {% for gratitude_list in todays_list %}
      <li class="gratitude-item"><a href="{% url 'gratitude:update' gratitude_list.pk %}">{{ gratitude_list.title }}</a></li>
      <!-- <a href="{% url 'gratitude:update' gratitude_list.pk %}">Edit</a> -->
      
      <form action="/gratitude/delete/{{gratitude_list.pk}}/" method="post">{% csrf_token %}
        
        <button class="delete-btn" onclick="return confirm('Are you sure you want to delete this list?')">
          <i class="fas fa-times"></i>
        </button>
      </form>
      
    
    {% endfor %}
    </ul>
  {% else %}
  <div class='date-wrap'>

    <div class="date-container-1">
      <p class="date-date">{{ custom_page_date.day }}</p>
    </div>

    <div class="date-container-2">
      <p class="date-month">{{ custom_page_date.month }}</p>
      <p class="date-year">{{ custom_page_date.year }}</p>
    </div>

  </div>
  <p>You have no entry for today.</p>
  {% endif %}

{% endblock %}

{% block footer %}
  <script>
    document.getElementById('id_title').setAttribute('placeholder', "I'm grateful...")
  </script>

{% endblock %}