* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
}

.quote-msg {
  margin: 10px 0px;
  color: red;  
  font-size: 1.1em;
  font-family: 'Crimson Text', serif; 
  text-transform: capitalize;
}

.quote-link {
  transition: font-size 400ms ease-in,
  margin-left 400ms ease-in-out;
  color: #05386B;  
}

.quote-link:hover {
  cursor: default;
  font-size: 1.3em;
  margin-left: 10px;
}

/* .quote-delete-button {
  background-color: rgba(25, 37, 56, .9);
  color: white;
  opacity: 80%;
  padding: 2px;
  transition: background-color 250ms ease;
}
.quote-delete-button:hover {
  background-color: rgb(9, 13, 21);
  
} */

.fa-trash{
  cursor: pointer;
  
}
form button{
  border: none;
  opacity: .75;
}