body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
body main {
  position: relative;
}
.quote-banner-container1{
  position: relative;
  background-color: #266150;
  height: 55vh;
  width: 100%;

}
.head-container{
  color: #fff;
  padding-left:7.5%;
  padding-bottom: 3.75%;
  position: absolute;
  bottom:0;
  left:0;
}
.type{
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.head-title{
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 4rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
.head-title:hover{
  opacity: 0.55;
}
.head-detail{
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.quote-ol-container{
  /* list-style: none; */
  width: 97.5vw;
  padding: 2rem;
}
.quote-list {
  margin: .75rem 0px;
  color: rgb(215, 0, 0);  
  font-size: 1.2rem;
  font-family: 'Crimson Text', serif; 
  text-transform: capitalize;
  
}

.quote-link {
  color: #05325e;  
  text-decoration: none;
  transition: all  500ms ease 100ms;
  font-size: 1.4rem;
  /* transition: font-size margin-left ; */
}

.quote-link:hover {
  cursor: default;
  font-size: 1.6rem;
  margin-left: 1.2em;
  color: black;
  
}
form button{
  border: none;
  
}
.fa-times{
  cursor: pointer;
  opacity: .6; 
}
.fa-times:hover{
  opacity: 1;
}


    @media all and (max-width: 750px) and (min-width: 285px){
      .quote-banner-container1{
        padding-right: 5rem;
      }
      .quote-ol-container {
        padding: 50px 5%;
      }
      .quote-list{
        margin: 1.35rem 0px;
      }
      .quote-link {
        font-size: 1.5rem;
        text-align: center;
      }
      .fa-times{
        font-size: 1.6rem;
      }
      
      
    }
    @media all and (max-width: 460px) {
      .quote-banner-container1{
        height: 40vh;
        width: 100%;
        padding: 0% 5%;
      }
      
    }