*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
}

body{
  background-color: rgb(253, 250, 246);
  color: black;
}

.quote-list-h2{
  font-family: 'Merriweather', serif;
  color: black;
  font-size: 1.4em;
  margin: 25px 15px;
  cursor: default;
}

.quote-ol-container{
  margin-left: 20px;
  margin-top: 10px;
  list-style-position: inside;
  color: red;
  
}

.quote-msg{
  margin: 10px 0px;
  color: black;
  font-size: 1.3em;
  font-family: 'Crimson Text', serif; 
  text-transform: capitalize;
}

.quote-msg > a{
  transition: font-size 350ms ease-in 100ms,
  margin-left 400ms ease-out 100ms;
}

.quote-msg>a:hover{
  cursor: default;
  
  font-size: 1.5em;
  margin-left: 15px;
}

.quote-create{
  text-decoration: none;
  color: black;
  margin-left: 1px;
}

.quote-create:hover{
  text-decoration: underline;
}

.quote-created{
  font-size: 12px;
  color: rgba(160, 160, 160, .6);
  margin-left: 2px;
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
}


.quote-delete-button{
  margin-left: 2px;
  opacity: 70%;
}

.quote-delete-button:hover{
  color: red;
}
