* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
}

.quote-msg {
  margin: 10px 0px;
  color: black;
  font-size: 1.3em;
  font-family: 'Crimson Text', serif; 
  text-transform: capitalize;
}

.quote-link {
  transition: font-size 400ms ease-in 200ms,
  margin-left 400ms ease-in-out 200ms;
}

.quote-link:hover {
  cursor: default;
  font-size: 1.3em;
  margin-left: 10px;
}

.quote-created {
  font-size: 12px;
  color: rgba(160, 160, 160, .6);
  text-transform: uppercase;
  font-family: 'Chakra Petch', sans-serif;
}

.quote-delete-button {
  background-color: rgba(25, 37, 56, .9);
  color: white;
  opacity: 80%;
  padding: 2px;
  transition: background-color 250ms ease;
}
.quote-delete-button:hover {
  background-color: rgb(9, 13, 21);
  
}
